/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
// Import
@import "./composition";
@import "./flexbox";
@import "./grid";

// @extend .overflow-hidden;
/* ____________________________________________ */
/* overflow */
.overflow-hidden {
	overflow: hidden;
}

.t-uppercase {
	text-transform: uppercase;
}

/* text-wrap */
.nowrap {
	white-space: nowrap;
}

.wrap {
	white-space: wrap;
}

/* text-align */
.ta-center,
.ta-left,
.ta-right {
	vertical-align: middle;
}

.ta-center {
	text-align: center;
}

.ta-left {
	text-align: left;
}

.ta-right {
	text-align: right;
}

/* float [clearfix] */
.floatfix {
	display: flow-root;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

/* hidden */
.hidden {
	display: none !important;
}

.m-left-auto {
	margin-left: auto;
}

.m-right-auto {
	margin-right: auto;
}
