/* ____________________________________________ */
/* _______________Animation____________________ */
/* ____________________________________________ */
@keyframes fade-in {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes slide-in {
	from {
		transform: translateY(25%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slide-out {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-20%);
	}
}
