/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* ________________Effects_____________________ */
/* ____________________________________________ */
/* :Pseudo-classes & ::Pseudo-elements

/* ____________________________________________ */
// Import
@import "./underline";
@import "./formvalid";
@import "./animation";

/* ____________________________________________ */
/* Image scale :Hover */
:where(img, svg, picture),
[data-img-hover] {
	overflow: hidden;
	transition: all 0.4s ease-in-out 0.01s;

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.05);
		}

		&:active {
			transform: scale(1);
		}
	}
}

/* ____________________________________________ */
/* Small SVG :Hover */

a:not([class*="__logo"]) img,
[data-svg-hover] {
	overflow: hidden;
	transition: filter 0.4s ease-in-out 0.01s, transform 0.4s ease-in-out 0.01s;

	@media (any-hover: hover) {
		&:is(:focus-visible, :hover) {
			filter: invert(77%) sepia(21%) saturate(602%) hue-rotate(9deg) brightness(97%) contrast(90%);
			transform: scale(1.1);
		}

		&:active {
			transform: scale(1);
		}
	}
}

/* ____________________________________________ */
/* Simple |link| :Hover */
a,
[data-link-hover] {
	transition: color 0.3s ease-in-out 0.01s;

	@media (any-hover: hover) {
		&:is(:focus-visible, :hover) {
			color: var(--clr-hover);
		}

		&:active {
			color: var(--clr-active);
		}
	}
}

/* ____________________________________________ */
/* Simple |Button| :Hover */
[role="button"],
[type="button"],
[type="reset"],
[type="submit"],
[type="file"]::file-selector-button,
[data-button-hover] {
	transition: box-shadow 0.5s linear, border-color 0.5s linear, transform 0.1s ease-in-out, background-color 0.2s linear,
		color 0.2s linear;
	transform: scale(1);

	@media (any-hover: hover) {
		&:is(:focus-visible, :hover) {
			color: #fff;
			background-color: var(--clr-hover);
			border-color: transparent;
			box-shadow: 0 0 0.625rem var(--clr-hover) !important;
			transform: scale(1.01);
			animation: fade-in 0.2s ease-in-out 0.01s;
		}

		&:active {
			background-color: var(--clr-active);
			box-shadow: 0 0 0.625rem var(--clr-active) !important;
			transform: scale(0.97);
		}
	}
}

/* ____________________________________________ */
/* Simple |Input|Select|Textarea|Summary| :Hover */
select,
textarea,
summary,
details,
input:not(
		[type="button"],
		[type="reset"],
		[type="submit"],
		[type="range"],
		[type="color"],
		[type="radio"],
		[type="checkbox"],
		[type="file"]
	),
[contenteditable],
[data-input-hover] {
	transition: border-color 0.3s linear 0.02s, box-shadow 0.3s ease-in-out 0.02s, background 0s;

	@media (any-hover: hover) {
		&:is(:focus, :hover) {
			border-color: transparent;
			box-shadow: 0 0 0 0.0625rem var(--clr-hover), 0 0 0.625rem var(--clr-hover) !important;
		}
	}
}

/* ____________________________________________ */
/* Simple |Summary(Inside)| :Hover */
details[open] > :is(summary, div) {
	border-color: #8f8f9d;
	transition: border-color 0s linear;
}

/* ____________________________________________ */
/* Text Selection */
::selection {
	color: #fff;
	text-shadow: 0 0 0.625rem #000;
	background-color: #4682b4;
}
