/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Input Validation_______________ */
/* ____________________________________________ */

[required]:valid {
	border-color: transparent !important;
	box-shadow: 0 0 0 0.0625rem #adff2f, 0 0 0.625rem #adff2f !important;
	transition: border-color 0.3s linear 0.02s, box-shadow 0.3s ease-in-out 0.02s, background 0s;
}

[required]:user-invalid {
	border-color: transparent !important;
	box-shadow: 0 0 0 0.0625rem #bb0808, 0 0 0.625rem #bb0808 !important;
	transition: border-color 0.3s linear 0.02s, box-shadow 0.3s ease-in-out 0.02s, background 0s;
}

[required]:invalid {
	transition: border-color 0.3s linear 0.02s, box-shadow 0.3s ease-in-out 0.02s, background 0s;
}

@media (any-hover: hover) {
	[required]:invalid:focus {
		border-color: transparent !important;
		box-shadow: 0 0 0 0.0625rem #ffa500, 0 0 0.625rem #ffa500 !important;
	}

	[required]:invalid:hover {
		border-color: transparent !important;
		box-shadow: 0 0 0 0.0625rem #4682b4, 0 0 0.625rem #4682b4 !important;
	}
}

// Fix OutLine
/*
[required]:not(:focus):valid,
[required]:not(:focus):invalid,
[required]:not(:focus):user-invalid {
		transition: border-color 0.3s linear 0.02s, box-shadow 0.3s ease-in-out 0.02s, background 0s !important;
}
*/
