/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Input Validation_______________ */
/* ____________________________________________ */

[required]:valid {
	border-color: transparent !important;
	box-shadow: 0 0 0 0.0625rem #adff2f, 0 0 0.625rem #adff2f !important;
}

[required]:user-invalid {
	border-color: transparent !important;
	box-shadow: 0 0 0 0.0625rem #bb0808, 0 0 0.625rem #bb0808 !important;
	transition: 0.3s ease-in-out !important;
}

[required]:invalid:focus {
	border-color: transparent;
	box-shadow: 0 0 0 0.0625rem #ffa500, 0 0 0.625rem #ffa500 !important;
}

[required]:not(:focus):invalid {
	transition: 0.3s ease-in-out !important;
}

[required]:invalid:focus {
	border-color: transparent !important;
}
