/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _________Draw Underline Link :Hover_________ */
/* ____________________________________________ */
.nav__li-link,
[data-link-center],
[data-link-left],
[data-link-right],
[data-link-bottom] {
	position: relative;
	padding: 0 5px;
	transition: transform 0.4s ease-in-out 0.01s, color 0.2s ease-in-out;

	&::after {
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
		height: 0.0625rem;
		content: "";
		background-color: var(--clr-hover);
		transition: transform 0.4s ease-in-out 0.005s, color 0.3s ease-in-out 0.01s;

		@media (max-width: $burger-breakpoint) {
			display: none;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--clr-hover);

			&::after {
				transform: scale(1, 1) translateY(0); // change
			}
		}
	}

	&:active {
		z-index: 2;
		color: var(--clr-active);

		&::after {
			z-index: 1;
			background-color: var(--clr-active);
		}
	}
}

/* Center line */
.nav__li-link,
[data-link-center] {
	&::after {
		transform: scale(0, 1) translateY(0.5px); // change
	}
}

/* Left line */
[data-link-left] {
	&::after {
		transform: scale(0, 1);
		transform-origin: 0% 100%; // change
	}
}

/* Right line */
[data-link-right] {
	&::after {
		transform: scale(0, 1);
		transform-origin: 100% 0%; // change
	}
}

/* Bottom line */
[data-link-bottom] {
	&::after {
		transform: translateY(2px); // change
	}
}
