/* https://habr.com/ru/post/527062/ */
/* https://css-tricks.com/how-to-animate-the-details-element/ */
/* https://www.youtube.com/watch?v=k6Dn2jYjH0I */
/* https://stackoverflow.com/questions/16751345/automatically-close-all-the-other-details-tags-after-opening-a-specific-detai
*/
/* https://www.youtube.com/watch?v=gz1v1KenZWk */
/* https://codepen.io/stoumann/pen/ExydEYL - animation | NEW */

/* ____________________________________________ */
@charset "UTF-8";

/* Add basic space everywhere (to container) */
div.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

body {
	height: 1000px;
	background-color: #34495e;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
/* Accordion */
summary::-webkit-details-marker {
	display: none;
}

summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.3125em;
	font-weight: 700;
	list-style-type: none; /* marker */
	user-select: none;
	background-color: #fff;
}

summary,
details .accordion-content {
	border-inline: thin solid #8f8f9d;
}

details {
	width: 100%; /* "em" are bad */
	margin-top: 16px;
	border-block: thin solid #8f8f9d;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 25%);
}

details .accordion-content {
	line-height: 1.5rem;
	background-color: #fff;
}

details .accordion-border-line {
	/* padding: 0.5rem 1rem; /* animation bug */
	border-top: 1px solid;
	border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordion-border-line p {
	padding: 0.5rem 1rem;
}

/* ____________________________________________ */
/* Border Radius */
details,
summary,
.accordion-content {
	border-radius: 0.5rem;
}

details[open] > summary {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

details[open] > .accordion-content {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* ____________________________________________ */
/* Animation: Icon */
summary::after {
	width: 1.8em;
	height: 1.8em;
	content: "";
	background: transparent
		url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4' style='fill:black;'/%3E%3C/svg%3E")
		no-repeat right center / 1.8em;
	transition: transform 0.4s ease-in-out;
}

details[open] summary::after {
	transform: rotate(90deg);
}

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
/* Animation: Content | OLD */

/* details,
summary {
	transition: all 0.3s linear;
	transition-behavior: allow-discrete;
}

details[open] {
	overflow: hidden;
	will-change: max-height;
}

details[open] > *:not(summary) {
	animation: details-setheight 1s ease-in-out forwards;
} */

/* @keyframes details-setheight {
	0% {
		max-height: 0;
	}

	100% {
		max-height: 100vh;
	}
} */

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
/* Animation: Content | NEW */
details > div {
	display: grid;
	overflow: hidden;
	animation-duration: 0.2s;
}

details > .animation {
	animation-name: grid-expand;
	animation-timing-function: ease-out;
	will-change: min-height;
}

details > .collapsing {
	animation-timing-function: ease-in;
	animation-direction: reverse;
	will-change: min-height;
}

details > div > div {
	min-height: 0;
}

@keyframes grid-expand {
	0% {
		grid-template-rows: 0fr;
	}

	100% {
		grid-template-rows: 1fr;
	}
}
