/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
// https://stackoverflow.com/questions/45899894/when-to-use-extend-and-mixin-in-sass
/* Exemple */
// @extend .flow-space;	 (Combine selectors)
// @include .flow-space; (Spam selectors)

/* ____________________________________________ */
/* add basic space (to container) */
.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

/* ------------------------------------ */
@mixin overflow-hidden {
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden !important;
}

/* ------------------------------------ */
@mixin text-uppercase {
	text-transform: uppercase;
}

.text-uppercase {
	text-transform: uppercase !important;
}

/* ------------------------------------ */
@mixin text-lowercase {
	text-transform: lowercase;
}

.text-lowercase {
	text-transform: lowercase !important;
}

/* ------------------------------------ */
@mixin nowrap {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap !important;
}

/* ------------------------------------ */
@mixin wrap {
	white-space: wrap;
}

.wrap {
	white-space: wrap !important;
}

/* ------------------------------------ */
@mixin vertical-middle {
	vertical-align: middle;
}

.vertical-middle {
	vertical-align: middle !important;
}

/* ------------------------------------ */
@mixin text-center {
	text-align: center;
	vertical-align: middle;
}

.text-center {
	text-align: center !important;
	vertical-align: middle !important;
}

/* ------------------------------------ */
@mixin text-left {
	text-align: left;
}

.text-left {
	text-align: left !important;
}

/* ------------------------------------ */
@mixin text-right {
	text-align: right;
}

.text-right {
	text-align: right !important;
}

/* ------------------------------------ */
@mixin text-start {
	text-align: start;
}

.text-start {
	text-align: start !important;
}

/* ------------------------------------ */
@mixin text-end {
	text-align: end;
}

.text-end {
	text-align: end !important;
}

/* ------------------------------------ */
@mixin text-justify {
	text-align: justify;
}

.text-justify {
	text-align: justify !important;
}

/* ------------------------------------ */
/* float [clearfix] */
@mixin d-floatfix {
	display: flow-root;
}

.d-floatfix {
	display: flow-root !important;
}

/* ------------------------------------ */
@mixin d-block {
	display: block;
}

.d-block {
	display: block !important;
}

/* ------------------------------------ */
@mixin d-inline-block {
	display: inline-block;
}

.d-inline-block {
	display: inline-block !important;
}

/* ------------------------------------ */
@mixin d-inline {
	display: inline;
}

.d-inline {
	display: inline !important;
}

/* ------------------------------------ */
@mixin hidden {
	display: none;
}

.hidden {
	display: none !important;
}

/* ------------------------------------ */
@mixin m-auto {
	margin: auto;
}

.m-auto {
	margin: auto !important;
}

/* ------------------------------------ */
@mixin m-left-auto {
	margin-left: auto;
}

.m-left-auto {
	margin-left: auto !important;
}

/* ------------------------------------ */
@mixin m-right-auto {
	margin-right: auto;
}

.m-right-auto {
	margin-right: auto !important;
}

/* ------------------------------------ */
@mixin m-top-auto {
	margin-top: auto;
}

.m-top-auto {
	margin-top: auto !important;
}

/* ------------------------------------ */
@mixin m-bottom-auto {
	margin-bottom: auto;
}

.m-bottom-auto {
	margin-bottom: auto !important;
}

/* ------------------------------------ */
@mixin m-inline-auto {
	margin-inline: auto;
}

.m-inline-auto {
	margin-inline: auto !important;
}

/* ____________________________________________ */
/* ___________Composition Classes______________ */
/* ____________________________________________ */
/* semantically-visible */
@mixin visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
	pointer-events: none;
	border: 0;
}

.visually-hidden {
	@include visually-hidden;
}

/* ------------------------------------ */
@mixin input-reset {
	// number firefox
	appearance: textfield;

	// password Edge
	&::-ms-reveal {
		display: none;
	}

	// number Chrome
	&::-webkit-inner-spin-button {
		appearance: none;
	}

	// search Chrome
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-decoration,
	&::-webkit-search-results-decoration {
		appearance: none;
	}
}

.input-reset {
	@include input-reset;
}

/* ------------------------------------ */
@mixin btn-reset {
	padding: 0;
	background-color: transparent;
	border-width: 0;
}

.btn-reset {
	@include btn-reset;
}

/* ------------------------------------ */
@mixin list-reset {
	padding: 0;
	margin: 0;
	list-style: none inside;
}

.list-reset {
	@include list-reset;
}

/* ------------------------------------ */
@mixin offscreen {
	position: absolute;
	transform: translateX(-100%); // left: -100%;
}

.offscreen {
	@include offscreen;
}

/* ------------------------------------ */
@mixin text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-ellipsis {
	@include text-ellipsis;
}
