/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
// https://stackoverflow.com/questions/45899894/when-to-use-extend-and-mixin-in-sass
/* Exemple */
// @extend .flow-space;	 (Combine selectors)
// @include .flow-space; (Spam selectors)

/* ____________________________________________ */
/* add basic space (to container) */
.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

/* ------------------------------------ */
@mixin overflow-hidden {
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

/* ------------------------------------ */
@mixin text-uppercase {
	text-transform: uppercase;
}

.text-uppercase {
	text-transform: uppercase;
}

/* ------------------------------------ */
@mixin text-lowercase {
	text-transform: lowercase;
}

.text-lowercase {
	text-transform: lowercase;
}

/* ------------------------------------ */
@mixin nowrap {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

/* ------------------------------------ */
@mixin wrap {
	white-space: wrap;
}

.wrap {
	white-space: wrap;
}

/* ------------------------------------ */
@mixin text-center {
	vertical-align: middle;
	text-align: center;
}

.text-center {
	vertical-align: middle;
	text-align: center;
}

/* ------------------------------------ */
@mixin text-left {
	text-align: left;
}

.text-left {
	text-align: left;
}

/* ------------------------------------ */
@mixin text-right {
	text-align: right;
}

.text-right {
	text-align: right;
}

/* ------------------------------------ */
@mixin text-start {
	text-align: start;
}

.text-start {
	text-align: start;
}

/* ------------------------------------ */
@mixin text-end {
	text-align: end;
}

.text-end {
	text-align: end;
}

/* ------------------------------------ */
@mixin text-justify {
	text-align: justify;
}

.text-justify {
	text-align: justify;
}

/* ------------------------------------ */
/* float [clearfix] */
@mixin floatfix {
	display: flow-root;
}

.floatfix {
	display: flow-root;
}

/* ------------------------------------ */
@mixin block {
	display: block;
}

.block {
	display: block;
}

/* ------------------------------------ */
@mixin inline-block {
	display: inline-block;
}

.inline-block {
	display: inline-block;
}

/* ------------------------------------ */
@mixin inline {
	display: inline;
}

.inline {
	display: inline;
}

/* ------------------------------------ */
@mixin hidden {
	display: none !important;
}

.hidden {
	display: none !important;
}

/* ------------------------------------ */
@mixin m-left-auto {
	margin-left: auto;
}

.m-left-auto {
	margin-left: auto;
}

/* ------------------------------------ */
@mixin m-right-auto {
	margin-right: auto;
}

.m-right-auto {
	margin-right: auto;
}

/* ------------------------------------ */
@mixin m-inline-auto {
	margin-inline: auto;
}

.m-inline-auto {
	margin-inline: auto;
}

/* ------------------------------------ */
@mixin vertical-middle {
	vertical-align: middle;
}

.vertical-middle {
	vertical-align: middle;
}
