/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Flexbox Utility________________ */
/* ____________________________________________ */
/* Exemple */
// @extend .flow-space;	 (Combine selectors)
// @include .flow-space; (Spam selectors)

/* ____________________________________________ */
@mixin d-flex {
	display: flex;
}

.d-flex {
	display: flex !important;
}

/* ------------------------------------ */
@mixin d-inline-flex {
	display: inline-flex;
}

.d-inline-flex {
	display: inline-flex !important;
}

/* ------------------------------------ */
@mixin jc-center {
	justify-content: center;
}

.jc-center {
	justify-content: center !important;
}

/* ------------------------------------ */
@mixin jc-start {
	justify-content: flex-start;
}

.jc-start {
	justify-content: flex-start !important;
}

/* ------------------------------------ */
@mixin jc-end {
	justify-content: flex-end;
}

.jc-end {
	justify-content: flex-end !important;
}

/* ------------------------------------ */
@mixin jc-between {
	justify-content: space-between;
}

.jc-between {
	justify-content: space-between !important;
}

/* ------------------------------------ */
@mixin jc-around {
	justify-content: space-around;
}

.jc-around {
	justify-content: space-around !important;
}

/* ------------------------------------ */
@mixin jc-evenly {
	justify-content: space-evenly;
}

.jc-evenly {
	justify-content: space-evenly !important;
}

/* ------------------------------------ */
@mixin ac-center {
	align-content: center;
}

.ac-center {
	align-content: center !important;
}

/* ------------------------------------ */
@mixin ac-start {
	align-content: flex-start;
}

.ac-start {
	align-content: flex-start !important;
}

/* ------------------------------------ */
@mixin ac-end {
	align-content: flex-end;
}

.ac-end {
	align-content: flex-end !important;
}

/* ------------------------------------ */
@mixin ac-between {
	align-content: space-between;
}

.ac-between {
	align-content: space-between !important;
}

/* ------------------------------------ */
@mixin ac-around {
	align-content: space-around;
}

.ac-around {
	align-content: space-around !important;
}

/* ------------------------------------ */
@mixin ac-evenly {
	align-content: space-evenly;
}

.ac-evenly {
	align-content: space-evenly !important;
}

/* ------------------------------------ */
@mixin ac-stretch {
	align-content: stretch;
}

.ac-stretch {
	align-content: stretch !important;
}

/* ------------------------------------ */
@mixin ai-center {
	align-items: center;
}

.ai-center {
	align-items: center !important;
}

/* ------------------------------------ */
@mixin ai-start {
	align-items: flex-start;
}

.ai-start {
	align-items: flex-start !important;
}

/* ------------------------------------ */
@mixin ai-end {
	align-items: flex-end;
}

.ai-end {
	align-items: flex-end !important;
}

/* ------------------------------------ */
@mixin ai-stretch {
	align-items: stretch;
}

.ai-stretch {
	align-items: stretch !important;
}

/* ------------------------------------ */
@mixin as-center {
	align-self: center;
}

.as-center {
	align-self: center !important;
}

/* ------------------------------------ */
@mixin as-start {
	align-self: flex-start;
}

.as-start {
	align-self: flex-start !important;
}

/* ------------------------------------ */
@mixin as-end {
	align-self: flex-end;
}

.as-end {
	align-self: flex-end !important;
}

/* ------------------------------------ */
@mixin as-stretch {
	align-self: stretch;
}

.as-stretch {
	align-self: stretch !important;
}

/* ------------------------------------ */
@mixin fx-wrap {
	flex-wrap: wrap;
}

.fx-wrap {
	flex-wrap: wrap !important;
}

/* ------------------------------------ */
@mixin fx-wrap-rev {
	flex-wrap: wrap-reverse;
}

.fx-wrap-rev {
	flex-wrap: wrap-reverse !important;
}

/* ------------------------------------ */
@mixin fx-nowrap {
	flex-wrap: nowrap;
}

.fx-nowrap {
	flex-wrap: nowrap !important;
}

/* ------------------------------------ */
@mixin fx-dir-col {
	flex-direction: column;
}

.fx-dir-col {
	flex-direction: column !important;
}

/* ------------------------------------ */
@mixin fx-dir-col-rev {
	flex-direction: column-reverse;
}

.fx-dir-col-rev {
	flex-direction: column-reverse !important;
}

/* ------------------------------------ */
@mixin fx-dir-row {
	flex-direction: row;
}

.fx-dir-row {
	flex-direction: row !important;
}

/* ------------------------------------ */
@mixin fx-dir-row-rev {
	flex-direction: row-reverse;
}

.fx-dir-row-rev {
	flex-direction: row-reverse !important;
}
