/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _______________Grid Utility_________________ */
/* ____________________________________________ */
/* Exemple */
// @extend .flow-space;	 (Combine selectors)
// @include .flow-space; (Spam selectors)

/* ____________________________________________ */
@mixin d-grid {
	display: grid;
}

.d-grid {
	display: grid;
}

/* ------------------------------------ */
@mixin d-inline-grid {
	display: inline-grid;
}

.d-inline-grid {
	display: inline-grid;
}

/* ------------------------------------ */
@mixin ji-center {
	justify-items: center;
}

.ji-center {
	justify-items: center;
}

/* ------------------------------------ */
@mixin ji-start {
	justify-items: start;
}

.ji-start {
	justify-items: start;
}

/* ------------------------------------ */
@mixin ji-end {
	justify-items: end;
}

.ji-end {
	justify-items: end;
}

/* ------------------------------------ */
@mixin ji-stretch {
	justify-items: stretch;
}

.ji-stretch {
	justify-items: stretch;
}

/* ------------------------------------ */
@mixin ji-left {
	justify-items: left;
}

.ji-left {
	justify-items: left;
}

/* ------------------------------------ */
@mixin ji-right {
	justify-items: right;
}

.ji-right {
	justify-items: right;
}

/* ------------------------------------ */
@mixin js-center {
	justify-self: center;
}

.js-center {
	justify-self: center;
}

/* ------------------------------------ */
@mixin js-start {
	justify-self: start;
}

.js-start {
	justify-self: start;
}

/* ------------------------------------ */
@mixin js-end {
	justify-self: end;
}

.js-end {
	justify-self: end;
}

/* ------------------------------------ */
@mixin js-stretch {
	justify-self: stretch;
}

.js-stretch {
	justify-self: stretch;
}

/* ------------------------------------ */
@mixin js-left {
	justify-self: left;
}

.js-left {
	justify-self: left;
}

/* ------------------------------------ */
@mixin js-right {
	justify-self: right;
}

.js-right {
	justify-self: right;
}

/* place-items (grid shorthand) */
/* ------------------------------------ */
@mixin pi-start {
	place-items: start;
}

.pi-start {
	place-items: start;
}

/* ------------------------------------ */
@mixin pi-end {
	place-items: end;
}

.pi-end {
	place-items: end;
}

/* ------------------------------------ */
@mixin pi-center {
	place-items: center;
}

.pi-center {
	place-items: center;
}

/* ------------------------------------ */
@mixin pi-stretch {
	place-items: stretch;
}

.pi-stretch {
	place-items: stretch;
}

/* place-content (grid shorthand) */
/* ------------------------------------ */
@mixin pc-start {
	place-content: start;
}

.pc-start {
	place-content: start;
}

/* ------------------------------------ */
@mixin pc-end {
	place-content: end;
}

.pc-end {
	place-content: end;
}

/* ------------------------------------ */
@mixin pc-center {
	place-content: center;
}

.pc-center {
	place-content: center;
}

/* ------------------------------------ */
@mixin pc-stretch {
	place-content: stretch;
}

.pc-stretch {
	place-content: stretch;
}

/* ------------------------------------ */
@mixin pc-between {
	place-content: space-between;
}

.pc-between {
	place-content: space-between;
}

/* ------------------------------------ */
@mixin pc-around {
	place-content: space-around;
}

.pc-around {
	place-content: space-around;
}

/* ------------------------------------ */
@mixin pc-evenly {
	place-content: space-evenly;
}

.pc-evenly {
	place-content: space-evenly;
}
