/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
// https://stackoverflow.com/questions/45899894/when-to-use-extend-and-mixin-in-sass
/* Exemple */
// @extend .flow-space;	 (Combine selectors)
// @include .flow-space; (Spam selectors)

/* ____________________________________________ */
@mixin p-static {
	position: static;
}

.p-static {
	position: static !important;
}

/* ------------------------------------ */
@mixin p-relative {
	position: relative;
}

.p-relative {
	position: relative !important;
}

/* ------------------------------------ */
@mixin p-absolute {
	position: absolute;
}

.p-absolute {
	position: absolute !important;
}

/* ------------------------------------ */
@mixin p-fixed {
	position: fixed;
}

.p-fixed {
	position: fixed !important;
}

/* ------------------------------------ */
@mixin p-sticky {
	position: sticky;
}

.p-sticky {
	position: sticky !important;
}

/* ------------------------------------ */
@mixin inset-0 {
	inset: 0;
}

.inset-0 {
	inset: 0 !important;
}

/* ------------------------------------ */
@mixin top-0 {
	top: 0;
}

.top-0 {
	top: 0 !important;
}

/* ------------------------------------ */
@mixin right-0 {
	right: 0;
}

.right-0 {
	right: 0 !important;
}

/* ------------------------------------ */
@mixin left-0 {
	right: 0;
}

.left-0 {
	left: 0 !important;
}

/* ------------------------------------ */
@mixin bottom-0 {
	bottom: 0;
}

.bottom-0 {
	bottom: 0 !important;
}
