/* ____________________________________________ */
/* _________________Footer_____________________ */
/* ____________________________________________ */

/* _______________Test(Delete)_________________ */
.footer {
	background-color: #1e1e1e;
}

.footer__title {
	margin: 15px 0;
	color: #f5f5f5;
}
