/* stylelint-disable declaration-no-important */
@charset "UTF-8";

/* Add basic space everywhere (to container) */
div.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

body {
	height: 1000px;
	background-color: #eee;
}

/* Outline */
:where(
		input:not(
				[type="file"],
				[type="button"],
				[type="reset"],
				[type="submit"],
				[type="range"],
				[type="color"],
				[type="checkbox"],
				[type="radio"]
			),
		select,
		textarea
	) {
	outline-color: transparent;
}

:where([type="file"]) {
	outline-color: none;
}

:where(button, input:not([type="checkbox"], [type="radio"], [type="color"]), select, textarea, summary) {
	outline-offset: 0.1875rem;
}

:where([type="checkbox"], [type="radio"], [type="color"]) {
	outline-offset: 0.0625rem;
}

/* ____________________________________________ */
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* [type="text"]:valid,
[type="password"]:valid,
[type="email"]:valid,
[type="tel"]:valid  */

/* Fix OutLine */
/* [required]:not(:focus):invalid {
	transition: 0.3s ease-in-out !important;
} */

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
/* Input Validation */

[required]:valid {
	border-color: transparent !important;
	box-shadow: 0 0 0 0.0625rem #adff2f, 0 0 0.625rem #adff2f !important;
}

[required]:user-invalid {
	border-color: transparent !important;
	box-shadow: 0 0 0 0.0625rem #bb0808, 0 0 0.625rem #bb0808 !important;
	transition: 0.3s ease-in-out !important;
}

[required]:invalid {
	transition: border-color 0.3s linear 0.02s, box-shadow 0.3s ease-in-out 0.02s, background 0s;
}

@media (any-hover: hover) {
	[required]:invalid:focus {
		border-color: transparent !important;
		box-shadow: 0 0 0 0.0625rem #ffa500, 0 0 0.625rem #ffa500 !important;
	}

	[required]:invalid:hover {
		border-color: transparent !important;
		box-shadow: 0 0 0 0.0625rem #4682b4, 0 0 0.625rem #4682b4 !important;
	}
}
