{
	"extends": ["eslint:recommended", "airbnb-base"],
	// "parser": "@typescript-eslint/parser",
	// "parserOptions": { "project": ["./tsconfig.json"] },
	// "plugins": ["@typescript-eslint"],
	// "root": true,
	"env": {
		"browser": true,
		"commonjs": true
		// "es6": true
		// "node": true
		// "jquery": true
	},
	"ignorePatterns": [
		"**/node_modules/**",
		"**/.vscode/**",
		"**/.idea/**",
		"**/dist/**",
		"**/dest/**",
		"**/app/**",
		"**/build/**",
		"**/public/**",
		"**/libs/**",
		"**/vendor/**",
		"**/tests/**",
		"*.css",
		"*.scss",
		"*.sass",
		"*.less",
		"*.postcss",
		"*.min.js"
	],
	"rules": {
		"no-unused-vars": "off",
		"no-console": "warn",
		"func-names": "off",
		"no-process-exit": "off",
		"object-shorthand": "warn", // "autofix"
		"class-methods-use-this": "warn", // "no-autofix"

		"no-restricted-syntax": "warn",
		"global-require": "warn",
		"no-undef": "off",
		"no-mixed-operators": "off",

		// Formatter | Prettier
		"max-len": ["off", { "code": 120, "comments": 120 }],
		"semi": ["warn", "always"],
		"quotes": ["warn", "single"],
		"indent": ["off", "tab"],
		"no-tabs": ["off", { "allowIndentationTabs": true }],
		"no-trailing-spaces": "off",
		"no-mixed-spaces-and-tabs": "off",
		"object-curly-newline": "off",

		"implicit-arrow-linebreak": ["off", "below"],
		"function-paren-newline": ["off", "multiline-arguments"],
		"operator-linebreak": ["off", "before"],
		"wrap-iife": ["error", "any"],
		"newline-per-chained-call": ["off", { "ignoreChainWithDepth": 2 }]
	}
}
