# Ignore
.vscode/
.idea/
build/
dist/
node_modules/
tests/
vendor/
#assets/

# Ignore
*.css
*.scss
*.sass
*.less
build/js/scripts.min.js
src/assets/components/Swiper/swiper-bundle.min.js
src/js/libs/
src/assets/libs/

