# Ignore
build/
build/index.html
build/css/style.min.css
build/js/scripts.min.js
src/scss/libs/_normalize.scss
#src/js/modules.json
.HTMLTag

# Ignore all CSS/JS files:
*.css
*.scss
*.js
*.jsx
*.ts
*.tsx
