{
	"jsxSingleQuote": true,
	"semi": true,
	"trailingComma": "all",
	"endOfLine": "lf",
	"printWidth": 100,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"useTabs": true,
	"tabWidth": 2,
	"arrowParens": "always",
	"singleQuote": true,
	"overrides": [
		{
			"files": ["*.css", "*.scss", "*.sass", "*.less", "*.postcss"],
			"options": { "singleQuote": false }
		},
		{
			"files": ["*.html", "*.twig", "*.hbs", "*.njk"],
			"options": { "singleQuote": false, "printWidth": 500 }
		},
		{ "files": ["*.php"], "options": { "useTabs": false, "printWidth": 500 } },
		{
			"files": ["*.jsx", "*.ts", "*.tsx"],
			"options": { "useTabs": false, "printWidth": 500 }
		}
	],
	"ignorePath": [
		"**/node_modules/**",
		"**/dist/**",
		"**/dest/**",
		"**/app/**",
		"**/build/**",
		"**/libs/**",
		"**/vendor/**",
		"*.min.js",
		"*.min.css"
	],
	"htmlWhitespaceSensitivity": "css",
	"twigPrintWidth": 80,
	"allowUnknownTags": true,
	"twigMultiTags": [
		"with,endwith",
		"nav,endnav",
		"switch,case,default,endswitch",
		"ifchildren,endifchildren",
		"cache,endcache"
	]
}
