# Ignore
node_modules/
build/
dist/
dest/
app/
#src/script.json
src/scss/libs/
src/assets/libs/
*.min.js
*.min.css

# Ignore all CSS/JS Files:
*.css
*.scss
*.sass
*.less
*.postcss
*.js
*.ts
#*.jsx
#*.tsx
#*.vue
