# Ignore
node_modules/
build/
build/index.html
build/css/style.min.css
build/js/scripts.min.js
src/scss/libs/_normalize.scss
src/assets/components/**/*.css
#src/js/modules.json

# Ignore all CSS/JS Files:
# *.css
*.scss
*.sass
*.less
*.js
*.ts
*.jsx
*.tsx
