{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-standard-scss",
		"stylelint-config-recess-order"
	],
	"plugins": [
		"stylelint-scss",
		"stylelint-order",
		"stylelint-declaration-block-no-ignored-properties"
	],
	"ignoreFiles": [
		"**/node_modules/**",
		"**/.vscode/**",
		"**/.idea/**",
		"**/dist/**",
		"**/dest/**",
		"**/app/**",
		"**/build/**",
		"**/libs/**",
		"**/vendor/**",
		"src/scss/_font.scss",
		"*.js",
		"*.ts",
		"*.jsx",
		"*.tsx",
		"*.vue",
		"*.min.css",
		"**/*.min.css"
	],
	"rules": {
		"order/order": [
			"custom-properties",
			"dollar-variables",
			{
				"type": "at-rule",
				"name": "include",
				"hasBlock": false
			},
			"declarations",
			{
				"type": "rule",
				"selector": "&::before"
			},
			{
				"type": "rule",
				"selector": "&::after"
			},
			"rules",
			{
				"type": "rule",
				"selector": "&:link"
			},
			{
				"type": "rule",
				"selector": "&:visited"
			},
			{
				"type": "rule",
				"selector": "&:focus"
			},
			{
				"type": "rule",
				"selector": "&:hover"
			},
			{
				"type": "at-rule",
				"selector": "any-hover:"
			},
			{
				"type": "rule",
				"selector": "&:active"
			},
			{
				"type": "rule",
				"selector": "&:disabled"
			},
			{
				"type": "rule",
				"selector": "&:first-child"
			},
			{
				"type": "rule",
				"selector": "&:last-child"
			},
			{
				"type": "rule",
				"selector": "&:nth-child.+"
			},
			{
				"type": "rule",
				"selector": "&\\[[^\\[\\]]+\\]"
			},
			{
				"type": "rule",
				"selector": "&\\..+"
			},
			{
				"type": "rule",
				"selector": "&--.+"
			},
			{
				"type": "rule",
				"selector": ".* &"
			},
			{
				"type": "at-rule",
				"name": "include",
				"hasBlock": true
			},
			"at-rules"
		],
		"order/properties-alphabetical-order": null,
		"at-rule-empty-line-before": [
			"always",
			{
				"except": ["blockless-after-same-name-blockless", "first-nested"],
				"ignore": ["after-comment"],
				"ignoreAtRules": ["else"]
			}
		],
		"at-rule-no-unknown": null,
		"at-rule-no-vendor-prefix": true,
		"color-hex-length": "short",
		"color-named": "never",
		"color-no-hex": null,
		"color-no-invalid-hex": true,
		"comment-empty-line-before": [
			"always",
			{
				"except": ["first-nested"],
				"ignore": ["after-comment", "stylelint-commands"]
			}
		],
		"comment-no-empty": true,
		"comment-whitespace-inside": "always",
		"custom-media-pattern": null,
		"custom-property-empty-line-before": [
			"always",
			{
				"except": ["after-custom-property", "first-nested"],
				"ignore": ["after-comment", "inside-single-line-block"],
				"severity": "warning"
			}
		],
		"custom-property-pattern": null,
		"declaration-block-no-duplicate-properties": true,
		"declaration-block-no-redundant-longhand-properties": true,
		"declaration-block-no-shorthand-property-overrides": true,
		"declaration-block-single-line-max-declarations": 0,
		"declaration-empty-line-before": [
			"always",
			{
				"except": ["after-declaration", "first-nested"],
				"ignore": ["after-comment", "inside-single-line-block"],
				"severity": "warning"
			}
		],
		"declaration-no-important": [
			true,
			{
				"severity": "warning"
			}
		],
		"font-family-name-quotes": "always-unless-keyword",
		"font-family-no-duplicate-names": true,
		"font-weight-notation": "numeric",
		"function-calc-no-unspaced-operator": true,
		"function-linear-gradient-no-nonstandard-direction": true,
		"function-name-case": "lower",
		"function-url-no-scheme-relative": true,
		"function-url-quotes": "always",
		"keyframe-declaration-no-important": true,
		"length-zero-no-unit": true,
		"max-nesting-depth": null,
		"media-feature-name-no-unknown": true,
		"media-feature-name-no-vendor-prefix": true,
		"no-descending-specificity": null,
		"no-duplicate-selectors": null,
		"no-empty-source": [
			true,
			{
				"severity": "warning"
			}
		],
		"no-invalid-double-slash-comments": true,
		"no-unknown-animations": null,
		"number-max-precision": 5,
		"property-no-unknown": [
			true,
			{
				"checkPrefixed": true
			}
		],
		"property-no-vendor-prefix": true,
		"rule-empty-line-before": [
			"always-multi-line",
			{
				"except": ["first-nested"],
				"ignore": ["after-comment"]
			}
		],

		"selector-attribute-quotes": "always",
		"selector-class-pattern": null,
		"selector-id-pattern": null,
		"selector-max-attribute": null,
		"selector-max-class": null,
		"selector-max-combinators": null,
		"selector-max-compound-selectors": null,
		"selector-max-id": 1,
		"selector-max-specificity": null,
		"selector-max-type": null,
		"selector-max-universal": null,
		"selector-nested-pattern": null,
		"selector-no-qualifying-type": null,
		"selector-no-vendor-prefix": true,
		"selector-pseudo-class-no-unknown": true,
		"selector-pseudo-element-colon-notation": "double",
		"selector-pseudo-element-no-unknown": true,
		"selector-type-case": "lower",
		"selector-type-no-unknown": true,
		"shorthand-property-no-redundant-values": true,
		"string-no-newline": true,
		"time-min-milliseconds": 1,
		"unit-no-unknown": true,
		"value-keyword-case": "lower",
		"value-no-vendor-prefix": true,
		"scss/at-else-closing-brace-newline-after": "always-last-in-chain",
		"scss/at-else-closing-brace-space-after": "always-intermediate",
		"scss/at-else-empty-line-before": "never",
		"scss/at-else-if-parentheses-space-before": "always",
		"scss/at-extend-no-missing-placeholder": null,
		"scss/at-function-parentheses-space-before": "never",
		"scss/at-function-pattern": null,
		"scss/at-if-closing-brace-newline-after": "always-last-in-chain",
		"scss/at-if-closing-brace-space-after": "always-intermediate",
		"scss/at-import-no-partial-leading-underscore": true,
		"scss/at-import-partial-extension-blacklist": null,
		"scss/at-import-partial-extension-whitelist": null,
		"scss/at-mixin-argumentless-call-parentheses": "never",
		"scss/at-mixin-parentheses-space-before": "never",
		"scss/at-mixin-pattern": null,
		"scss/at-rule-no-unknown": true,
		"scss/declaration-nested-properties": "never",
		"scss/declaration-nested-properties-no-divided-groups": null,
		"scss/dollar-variable-colon-newline-after": "always-multi-line",
		"scss/dollar-variable-colon-space-after": "always-single-line",
		"scss/dollar-variable-colon-space-before": "never",
		"scss/dollar-variable-empty-line-before": [
			"always",
			{
				"except": ["after-dollar-variable", "first-nested"],
				"ignore": ["after-comment", "inside-single-line-block"]
			}
		],
		"scss/dollar-variable-no-missing-interpolation": null,
		"scss/dollar-variable-pattern": null,
		"scss/double-slash-comment-empty-line-before": [
			"always",
			{
				"except": ["first-nested"],
				"ignore": ["between-comments", "stylelint-commands"]
			}
		],
		"scss/double-slash-comment-inline": null,
		"scss/double-slash-comment-whitespace-inside": "always",
		"scss/media-feature-value-dollar-variable": null,
		"scss/operator-no-newline-after": null,
		"scss/operator-no-newline-before": null,
		"scss/operator-no-unspaced": true,
		"scss/partial-no-import": null,
		"scss/percent-placeholder-pattern": null,
		"scss/selector-no-redundant-nesting-selector": true,
		"plugin/declaration-block-no-ignored-properties": [
			true,
			{
				"severity": "warning"
			}
		],
		"scss/no-global-function-names": null,
		"import-notation": null,
		"media-feature-range-notation": "prefix",
		"media-query-no-invalid": null
	}
}
