<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>FullYear</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="srcipt.js"></script>
	</head>
	<body>
		<h1>FullYear</h1>
		<br />
		<div></div>
		<footer class="footer">
			<div>
				<span class="nowrap">Copyright &copy; <time id="year"></time></span>
			</div>
		</footer>
	</body>
</html>
