/* https://qna.habr.com/q/682747 */
/* https://codepen.io/tippingpointdev/pen/WNZbWGe */

/* Remove chrome clear button */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

/* Basic clear button styling only chrome and edge*/
// input[type='search']::-webkit-search-cancel-button {
// 	height: 1.1em;
// 	width: 1.1em;
// 	margin-left: 0.4em;
// 	background: transparent
// 		url("data:image/svg+xml;utf8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'%3e%3cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3e%3c/svg%3e")
// 		no-repeat right center;
// }

/* Basic clear button styling */
.clear {
	display: block;
	height: 1rem;
	width: 1rem;
	margin-left: -25px;
	cursor: pointer;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>")
		transparent no-repeat right center / 1em;
	/* position: absolute;
  right: 7px;
  top: 5px; */
}

/* Basic search wrapper and input styling */
.search-wrap {
	display: flex;
	align-items: center;
	/* display: inline-block;
  position: relative; */
}
.search-wrap input[type='search'] {
	padding-right: 25px;
}

/* Hidden */
.hidden {
	display: none;
}
