/* https://habr.com/ru/post/527062/ */
/* https://css-tricks.com/how-to-animate-the-details-element/ */
/* https://www.youtube.com/watch?v=k6Dn2jYjH0I */
/* https://stackoverflow.com/questions/16751345/automatically-close-all-the-other-details-tags-after-opening-a-specific-detai
*/
/* https://www.youtube.com/watch?v=gz1v1KenZWk */

/* ____________________________________________ */
@charset "UTF-8";

/* Add basic space everywhere (to container) */
div.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

body {
	height: 1000px;
	background-color: #34495e;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	max-width: 1200px;
}

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
/* Accordion */
summary::-webkit-details-marker {
	display: none;
}

summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	border: thin solid #8f8f9d;
	padding: 0.3125em;
	background-color: #fff;
}

details {
	width: 100%;
	margin-top: 16px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 25%);
}

details .accordion-content {
	border: thin solid #8f8f9d;
	border-top: 0px solid transparent;
	padding: 0.3125em;
	background-color: #fff;
}

details,
summary,
accordion-content {
	border-radius: 0.5rem;
}

/* ____________________________________________ */
/* Animation Content */
details[open] > *:not(summary) {
	overflow: hidden;
	animation: details 1s ease-in-out forwards;
	will-change: max-height;
}

@keyframes details {
	0% {
		max-height: 0;
	}

	100% {
		max-height: 100vh;
	}
}

/* ____________________________________________ */
/* Animation Icon */
summary::after {
	content: "";
	width: 1.8em;
	height: 1.8em;
	background: transparent
		url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4' style='fill:black;'/%3E%3C/svg%3E")
		no-repeat right center / 1.8em;
	transition: transform 0.4s ease-in-out;
}

details[open] summary::after {
	transform: rotate(90deg);
}
