{
	"extends": ["eslint:recommended", "airbnb-base"],
	// "parser": "@typescript-eslint/parser",
	// "parserOptions": { "project": ["./tsconfig.json"] },
	// "plugins": ["@typescript-eslint"],
	// "root": true,
	"env": {
		"browser": true,
		"commonjs": true
		// "es6": true
		// "node": true
		// "jquery": true
	},
	"ignorePatterns": ["**/build/**/*.js", "**/node_modules/**/*.js"],
	"rules": {
		"max-len": ["off", { "code": 120, "comments": 120 }],
		"semi": ["error", "always"],
		"quotes": ["error", "single"],
		"indent": ["warn", "tab"],
		"no-tabs": ["warn", { "allowIndentationTabs": true }],
		"global-require": "warn",
		"no-trailing-spaces": "warn",
		"no-mixed-spaces-and-tabs": "warn",
		"object-curly-newline": "warn",

		"no-unused-vars": "warn",
		"no-console": "off",
		"func-names": "off",
		"no-process-exit": "off",
		"object-shorthand": "warn",
		"class-methods-use-this": "warn",

		"no-restricted-syntax": "warn",
		"no-undef": "off",
		"no-mixed-operators": "off"
	}
}
