<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tabs</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="script.js"></script>
	</head>
	<body>
		<h1>Tabs</h1>
		<br />
		<div class="tabs-wrapper">
			<div class="tabs">
				<a href="#tab-1" class="tabs__trigger">Tab One</a>
				<a href="#tab-2" class="tabs__trigger">Tab Two</a>
				<a href="#tab-3" class="tabs__trigger">Tab Three</a>
			</div>
			<div class="tabs__content-wrapper">
				<div id="tab-1" class="tabs__content">Content One</div>
				<div id="tab-2" class="tabs__content">Content Two</div>
				<div id="tab-3" class="tabs__content">Content Three</div>
			</div>
		</div>
	</body>
</html>
