@charset "UTF-8";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin-top: 0;
	box-sizing: inherit;
}

html {
	font-family: system-ui, "Hibana", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
