/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
// Import
@import "./flexbox";
@import "./grid";

/* ____________________________________________ */
/* Text-NoWrap */
.nowrap {
	white-space: nowrap;
}

/* Off-Screen */
.offscreen {
	position: absolute;
	transform: translateX(-100%); // left: -100%;
}

/* Text-Ellipsis */
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Align-Center */
.align-center {
	vertical-align: middle;
	text-align: center;
}

/* Completely-Hidden */
.hidden {
	display: none !important;
}

/* Semantically: Visible */
.visually-hidden {
	@include visually-hidden;
}

/* Button-Reset */
.btn-reset {
	@include btn-reset;
}

/* Input-Reset */
.input-reset {
	@include input-reset;
}

/* Float [clearfix] */
.d-floatfix {
	display: flow-root;
}

/* block */
.d-block {
	display: block;
}

/* inline-block */
.d-inblock {
	display: inline-block;
}

/* inline */
.d-inline {
	display: inline;
}
