/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
// Import
@import "./flexbox";
@import "./grid";

/* ____________________________________________ */
/* add basic space (to container) */
.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

/* text-noWrap */
.nowrap {
	white-space: nowrap;
}

/* off-screen */
.offscreen {
	position: absolute;
	transform: translateX(-100%); // left: -100%;
}

/* text-ellipsis */
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* overflow */
.of-hidden {
	overflow: hidden;
}

/* text-align */
.ta-center {
	vertical-align: middle;
	text-align: center;
}

.ta-center {
	vertical-align: middle;
	text-align: center;
}

.ta-left {
	vertical-align: middle;
	text-align: left;
}

.ta-right {
	vertical-align: middle;
	text-align: right;
}

/* semantically: visible */
.visually-hidden {
	@include visually-hidden;
}

/* button-reset */
.btn-reset {
	@include btn-reset;
}

/* input-Reset */
.input-reset {
	@include input-reset;
}

/* float [clearfix] */
.d-floatfix {
	display: flow-root;
}

.d-block {
	display: block;
}

.d-inblock {
	display: inline-block;
}

.d-inline {
	display: inline;
}

/* hidden */
.d-hidden {
	display: none !important;
}
