<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="swiper-bundle.min.js"></script>
		<script defer src="script.js"></script>
	</head>
	<body>
		<section class="section__swiper">
			<div class="container">
				<h2 class="swiper-title">Swiper v9.0.5</h2>
				<!-- ____________________________________________ -->
				<div class="swiper__swiper">
					<!-- Slider main container -->
					<div class="swiper">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide">Slide 1</div>
							<div class="swiper-slide">Slide 2</div>
							<div class="swiper-slide">Slide 3</div>
							<div class="swiper-slide">Slide 4</div>
							<div class="swiper-slide">Slide 5</div>
							<div class="swiper-slide">Slide 6</div>
						</div>
						<!-- If we need pagination -->
						<!-- <div class="swiper-pagination"></div> -->
						<!-- If we need scrollbar -->
						<!-- <div class="swiper-scrollbar"></div> -->
					</div>
					<div class="swiper-button">
						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
