/* https://swiperjs.com/get-started#download-assets */
/* https://www.jsdelivr.com/package/npm/swiper */
/* https://www.youtube.com/watch?v=IVS62g09GxM&t=4419s */
/* https://www.youtube.com/watch?v=OjVK055CTNI&list=PLCMvV-acWe2ABigEmFMDWCu8gzC0fdgRa&index=4 */

/* ____________________________________________ */
@charset "UTF-8";

html {
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}

:where(button) {
	background-color: transparent;
	border-width: 0;
	padding: 0;
}

.swiper-section {
}
.container {
	max-width: 1200px;
	width: 100%;
	margin-inline: auto;
	padding-inline: 15px;
}
.swiper-title {
	text-align: center;
}

/* ____________________________________________ */
.swiper__swiper {
}

.swiper-container {
}

.swiper-wrapper {
}

.swiper-slide {
	cursor: grab;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	min-height: 200px;
	color: #c70303;
	background-color: lawngreen;
}

/* ____________________pagination________________________ */
.swiper-pagination-bullet {
	background-color: steelblue;
	height: 8px;
	width: 8px;
	margin: 0 4px;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: red;
}

/* ____________________button________________________ */
.swiper-button {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
	background-color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
	/* font-size: 24px;
	color: #000; */
}

.swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 511.995 511.995' xml:space='preserve'%3e%3cpath d='M381.039 248.62L146.373 3.287C142.29-.942 135.54-1.13 131.29 2.954c-4.25 4.073-4.396 10.823-.333 15.083L358.56 255.995 130.956 493.954c-4.063 4.26-3.917 11.01.333 15.083a10.63 10.63 0 007.375 2.958 10.65 10.65 0 007.708-3.292L381.039 263.37c3.938-4.125 3.938-10.625 0-14.75z'/%3e%3c/svg%3e");
	transform: rotate(180deg);
}

.swiper-button-next {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 511.995 511.995' xml:space='preserve'%3e%3cpath d='M381.039 248.62L146.373 3.287C142.29-.942 135.54-1.13 131.29 2.954c-4.25 4.073-4.396 10.823-.333 15.083L358.56 255.995 130.956 493.954c-4.063 4.26-3.917 11.01.333 15.083a10.63 10.63 0 007.375 2.958 10.65 10.65 0 007.708-3.292L381.039 263.37c3.938-4.125 3.938-10.625 0-14.75z'/%3e%3c/svg%3e");
}

/* ____________________________________________ */
