/* https://swiperjs.com/get-started#download-assets */
/* https://www.youtube.com/watch?v=IVS62g09GxM&t=4419s */

.section__swiper {
}
.container {
}
.swiper-title {
	text-align: center;
}
.swiper__swiper {
	overflow-x: hidden;
}

.swiper-wrapper {
	display: flex;
}
.swiper-slide {
	cursor: grab;
}

.swiper-button {
	cursor: pointer;
}
.swiper-button-prev {
}
.swiper-button-next {
}
