/* https://www.youtube.com/watch?v=TAB_v6yBXIE&list=PLig1Jrpe_hzoJqsT81rjMw3qRV1AKGOsf&index=58 */
/* https://whistlr.info/2021/in-defence-of-dialog/ */
/* https://stackoverflow.com/questions/50037663/how-to-close-a-native-html-dialog-when-clicking-outside-with-javascript
*/
/* https://codepen.io/dvdvdmt/pen/BaavWbp */
/* https://www.google.com/search?q=html++tag+dialog+close+on+click+outside */
/* https://stackoverflow.com/questions/24991072/how-to-fade-in-a-html5-dialog */
/* https://www.youtube.com/watch?v=4prVdA7_6u0 */

/* ____________________________________________ */
@charset "UTF-8";

/*
 * Add the correct styles in Safari.
 */

:where(dialog) {
	position: fixed;
	inset: 0 5px;
	width: fit-content;
	height: fit-content;
	padding: 1em;
	margin: auto;
	color: #000;
	background-color: #fff;
	border: solid;
}

:where(dialog:not([open])) {
	display: none;
}

/* ____________________________________________ */
/* Add basic space everywhere (to container) */
div.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

body {
	min-height: 1000px;
	background-color: #eee;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ____________________________________________ */
h1 em {
	color: #27962d;
	text-decoration: underline;
	text-underline-offset: 0.25em;
}

form {
	display: grid;
	gap: 1em;
}

dialog::backdrop {
	cursor: pointer;
}

body.lock {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

body.lock-fixed {
	position: fixed;
	inset: 0;
	width: 100%; /* 97.7% - 17px */
	height: 100vh;
	overflow: hidden;
}

/* .modal-wrapper {
	border-radius: 16px;
	padding: 20px;
	height: auto;
	max-width: 450px;
} */

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
.modal-button {
	padding: 10px 15px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	background: #b63d3d;
	border: 0;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
	font-size: 24px;
	color: #000;
	background-color: transparent;
}

/* ____________________________________________ */
/* dialog */
dialog::backdrop {
	background-color: rgb(30 30 30 / 50%);
	backdrop-filter: blur(0.5px);
	animation: fade-in 0.5s ease-in-out forwards;
}

dialog {
	position: fixed;
	display: block;
	max-width: 475px;
	padding: 20px;
	overflow: hidden;
	pointer-events: none;
	visibility: hidden;
	border: thin solid transparent;
	border-radius: 16px;
	box-shadow: 0 0 1em rgb(0 0 0 / 30%);
	opacity: 0;
	transition: display 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s linear;
	transition-behavior: allow-discrete; /* new */
	animation: slide-out 0.4s cubic-bezier(0, 0, 0.2, 1);
}

dialog:modal {
	background-color: #fff;
}

/* ____________________________________________ */
/* Animation */
dialog[open] {
	display: block;
	max-width: 475px;
	overflow: hidden auto;

	/*
	overflow-x: hidden;
	overflow-y: auto;
	*/
	pointer-events: all;
	visibility: visible;
	border: thin solid transparent;
	opacity: 1;
	animation: slide-in 0.4s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes slide-in {
	from {
		transform: translateY(25%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slide-out {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-20%);
	}
}

@keyframes fade-in {
	from {
		opacity: 0.5;
	}

	to {
		opacity: 1;
	}
}
