<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Modal</title>
		<link href="style.css" rel="stylesheet" />
		<script src="script.js" defer></script>
	</head>
	<body class="body">
		<h1>Modals the <em>easy</em> way</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum esse nisi, laboriosam illum
			temporibus ipsam?
		</p>
		<br />
		<!-- ____________________________________________ -->
		<button class="button open-btn" data-open-modal>open modal</button>
		<!-- ____________________________________________ -->
		<dialog class="modal" id="modal">
			<div class="modal-wrapper">
				<button class="button close-btn" data-close-modal>close</button>
				<h2>Modal</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum esse nisi, laboriosam illum
					temporibus ipsam?
				</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quo.</p>
				<form class="form" method="dialog">
					<label>Your name <input type="text" /></label>
					<label>Your email <input type="email" /></label>
					<button class="button" type="submit" data-close-modal>submit form</button>
				</form>
			</div>
		</dialog>
		<!-- ____________________________________________ -->
	</body>
</html>
