/* https://www.youtube.com/watch?v=NRxSb5hCS58 */
/* https://www.darkcode.info/2022/05/how-to-create-custom-select-menu-using.html */
/* https://www.youtube.com/watch?v=z0avfnlBRto */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: #c7ecee;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

:where(button) {
	font: inherit;
	outline-color: transparent;
	background-color: transparent;
	border-width: 0;
	padding: 0;
	cursor: pointer;
}

:where(ul, ol, dl) {
	list-style-position: inside;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* ____________________________________________ */

.select-wrapper {
	width: 300px;
	cursor: pointer;
	position: relative;
}

.select {
	border: thin solid #8f8f9d;
	width: 100%;
	background-color: #f9f9f9;
	padding: 20px;
	color: #201e1e;
	font-weight: 500;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.options-list {
	border: 0 solid transparent;
	position: absolute;
	width: 100%;
	background-color: #f9f9f9;
	border-radius: 6px;
	margin-top: 2px;
	padding: 0 20px;
	max-height: 190px;
	overflow-y: auto;
	/* overflow-y: hidden; */
	transition: 0.3s linear 0.2s;
	height: 0;
}

.option {
	padding: 8px 0;
	font-weight: 500;
	font-size: 14px;
	transition: 0.05s linear;
}

.option:hover,
.option.selected {
	color: #00a8ff;
	/* background-color: #00a8ff; */
}

.options-list::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

.options-list::-webkit-scrollbar-thumb {
	background-color: #00a8ff;
	border-radius: 0.625rem;
}

.options-list {
	scrollbar-color: #00a8ff transparent;
	scrollbar-width: thin;
}

.options-list.active {
	height: 190px;
	border: thin solid #8f8f9d;
}

.select-ico {
	display: block;
	height: 1em;
	width: 1em;
	background: #f9f9f9
		url("data:image/svg+xml,\00003csvg focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e\00003cpath fill='black' d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'%3e\00003c/path%3e\00003c/svg%3e")
		no-repeat right center / 1.4em;
	padding-right: 1.6em;
	transition: 0.3s linear;
}

.select.active .select-ico {
	transform: rotate(-180deg);
}
