<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tabs</title>
		<link href="style.css" rel="stylesheet" />
		<script src="script.js" defer></script>
	</head>
	<body>
		<h1>Tabs</h1>
		<br />
		<div class="tabs-wrapper">
			<div class="tabs">
				<a class="tabs__trigger" href="#tab-1" aria-label="tabs">Tab One</a>
				<a class="tabs__trigger" href="#tab-2" aria-label="tabs">Tab Two</a>
				<a class="tabs__trigger" href="#tab-3" aria-label="tabs">Tab Three</a>
			</div>
			<div class="tabs__content-wrapper">
				<div class="tabs__content" id="tab-1">Content One</div>
				<div class="tabs__content" id="tab-2">Content Two</div>
				<div class="tabs__content" id="tab-3">Content Three</div>
			</div>
		</div>
	</body>
</html>
