/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _______________SCSS Variables_______________ */
/* ____________________________________________ */

/* SCSS BREAKPOINT */
$breakpoint-1450: 1449.98 + px; /* Desktop-Large */
$breakpoint-1200: 1199.98 + px; /* Desktop */
$breakpoint-1024: 1023.98 + px; /* Laptop-Large */
$breakpoint-992: 991.98 + px; /* Laptop */
$breakpoint-768: 767.98 + px; /* Tablet */
$breakpoint-576: 575.98 + px; /* Mobile-Large */
$breakpoint-480: 479.98 + px; /* Mobile */
$burger-breakpoint: $breakpoint-768;
