/* stylelint-disable */
/* ____________________________________________ */
/* 100-thin, 200-extralight, 300-light, 400-normal, 500-medium, 600-sembold, 700-bold, 800-extrabold, 900-black */

@font-face {
	font-family: "Nunito";
	font-weight: 700;
	font-style: normal;
	src: local(""), url("../font/Nunito-Bold.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Nunito";
	font-weight: 400;
	font-style: normal;
	src: local(""), url("../font/Nunito-Regular.woff2") format("woff2");
	font-display: swap;
}
