/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* About container -> https://habr.com/ru/post/463923/ */

/* ____________________________________________ */
/* fs: (100% * 1px / 16px = "6.25%" це | 1rem = 1px) */
/* fs: (1000% * 1px / 16px = "62.5%" це | 20rem = 200px) */
/* lh: 24px / 16px = "1.5" */
/* ____________________________________________ */
/* _________________General____________________ */
/* ____________________________________________ */
.html {
	text-transform: capitalize;
	scroll-behavior: smooth;
	color-scheme: light dark;
	scroll-padding-top: var(--scroll-padding, 50px);

	&.lock {
		scroll-behavior: auto;
		scrollbar-gutter: stable;
	}
}

.body {
	min-width: 320px;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	font-weight: var(--fw-body);
	color: var(--clr-body);
	accent-color: var(--clr-accent);
	caret-color: var(--clr-caret);
	background-color: var(--clr-body-bg);

	&.lock,
	&.lock-fixed {
		inset: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		overscroll-behavior: contain;
	}

	&.lock {
		position: relative;
	}

	&.lock-fixed {
		position: fixed;
	}
}

/* ____________________________________________ */
/* _____________Sticky Footer__________________ */
/* ____________________________________________ */
#root {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh; /* stylelint-disable-line declaration-block-no-duplicate-properties */
	min-height: 100dvh; /* stylelint-disable-line declaration-block-no-duplicate-properties */
	min-height: 100svh; /* stylelint-disable-line declaration-block-no-duplicate-properties */
	overflow: clip; /* if you using position: sticky - then use overflow: clip; instead of hidden */
	overscroll-behavior: contain;
}

.main {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
}

/* ____________________________________________ */
/* _________________Container__________________ */
/* ____________________________________________ */
/* [class*="__container"], */
.container {
	width: min(100%, var(--container-width, 1450px));
	padding-inline: clamp(7.5px, 1.5vw, var(--container-offset, 30px));
	margin-inline: auto;

	@media (max-width: $breakpoint-1450) {
		max-width: 1320px;
	}

	@media (max-width: $breakpoint-1200) {
		max-width: 1140px;
	}

	@media (max-width: $breakpoint-992) {
		max-width: 960px;
	}

	@media (max-width: $breakpoint-768) {
		max-width: 720px;
	}

	@media (max-width: $breakpoint-576) {
		max-width: 540px;
	}

	@media (max-width: $breakpoint-480) {
		max-width: none;
	}
}

/* ____________________________________________ */
/* _____________ScrollBar(Global)______________ */
/* ____________________________________________ */
* {
	scrollbar-color: var(--clr-scrollbar, #777) transparent;
	scrollbar-width: thin;

	::-webkit-scrollbar {
		width: 0.46em;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--clr-scrollbar, #777);
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

/* ____________________________________________ */
/* __________ScrollBar(Pages|Body)_____________ */
/* ____________________________________________ */
html {
	scrollbar-color: var(--clr-scrollbar, #777) var(--clr-scrollbar-bg, #1c1c1c);
	scrollbar-width: auto;
}

body::-webkit-scrollbar {
	width: 17px;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--clr-scrollbar, #777);
	background-clip: content-box;
	border: 5px solid transparent;
	border-radius: 10px;

	&:hover {
		background-color: var(--clr-scrollbar-hover, #666);
	}

	&:active {
		background-color: var(--clr-scrollbar-active, #888);
	}
}

body::-webkit-scrollbar-track {
	background-color: var(--clr-scrollbar-bg, #1c1c1c);
}

/* ____________________________________________ */
/* _____________Prefers Motion_________________ */
/* ____________________________________________ */
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		background-attachment: initial !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
		animation-duration: 1ms !important;
		animation-delay: -1ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}

/* ____________________________________________ */
/* ______________Reduced Data__________________ */
/* ____________________________________________ */
/* stylelint-disable-next-line media-feature-name-no-unknown */
@media (prefers-reduced-data: reduce) {
	body {
		font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans",
			sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}
}
