/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
/* Text-NoWrap */
.nowrap {
	white-space: nowrap;
}

/* Off-Screen */
.offscreen {
	position: absolute;
	transform: translateX(-100%); // left: -100%;
}

/* Text-Ellipsis */
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Align-Center */
.align-center {
	vertical-align: middle;
	text-align: center;
}

/* Completely-Hidden */
.hidden {
	display: none !important;
}

/* Semantically: Visible */
.visually-hidden {
	@include visually-hidden;
}

/* Button-Reset */
.btn-reset {
	@include btn-reset;
}

/* Input-Reset */
.input-reset {
	@include input-reset;
}

/* Float [clearfix] */
.d-floatfix {
	display: flow-root;
}

/* Grid */
.d-grid {
	display: grid;
}

/* ____________________________________________ */
/* Flexbox */
.d-flex {
	display: flex;
}

.d-flex {
	display: inline-flex;
}

.jc-center {
	justify-content: center;
}

.jc-between {
	justify-content: space-between;
}

.jc-around {
	justify-content: space-around;
}

.jc-evenly {
	justify-content: space-evenly;
}

.ai-center {
	align-items: center;
}

.ai-start {
	align-items: flex-start;
}

.ai-end {
	align-items: flex-end;
}

.fx-wrap {
	flex-wrap: wrap;
}

.fx-nowrap {
	flex-wrap: nowrap;
}

.fx-dir-column {
	flex-direction: column;
}

.fx-dir-row {
	flex-direction: row;
}
