/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
/* Text-NoWrap */
.nowrap {
	@include nowrap;
}

/* Completely-Hidden */
.hidden {
	@include hidden;
}

/* Semantically: Visible */
.visually-hidden {
	@include visually-hidden;
}

/* Off-Screen */
.offscreen {
	@include offscreen;
}

/* Text-Ellipsis */
.text-ellipsis {
	@include text-ellipsis;
}

/* Align-Center */
.align-center {
	@include align-center;
}

/* Button-Reset */
.btn-reset {
	@include btn-reset;
}

/* Float clearfix */
.d-floatfix {
	display: flow-root;
}

/* Grid */
.d-grid {
	display: grid;
}

/* ____________________________________________ */
/* Flex */
.d-flex {
	display: flex;
}

.d-flex {
	display: inline-flex;
}

.jc-center {
	justify-content: center;
}

.jc-between {
	justify-content: space-between;
}

.jc-around {
	justify-content: space-around;
}

.jc-evenly {
	justify-content: space-evenly;
}

.ai-center {
	align-items: center;
}

.ai-start {
	align-items: flex-start;
}

.ai-end {
	align-items: flex-end;
}

.fx-wrap {
	flex-wrap: wrap;
}

.fx-wrap {
	flex-wrap: nowrap;
}

.fx-dir-column {
	flex-direction: column;
}

.fx-dir-row {
	flex-direction: row;
}
