/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* ________________CSS Variables_______________ */
/* ____________________________________________ */
/* SCSS COLOR */
$clr-scrollbar: #777;

:root {
	/* ____________________________________________ */
	/* ________________CONTAINER___________________ */
	/* ____________________________________________ */
	--content-width: 1200px; /* 1200+60=1200px */
	--container-offset: 30px; /* 30*2 Left-Right = 60px */
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	/* ____________________________________________ */
	/* __________________COLOR_____________________ */
	/* ____________________________________________ */
	/* scrollBar */
	--clr-scrollbar: #{$clr-scrollbar};
	--clr-scrollbar-hover: #{darken($clr-scrollbar, 10%)};
	--clr-scrollbar-active: #{lighten($clr-scrollbar, 10%)};
	--clr-scrollbar-bg: #1c1c1c;

	/* burger menu */
	--clr-burger-btn: #f5f5f5;
	--clr-burger-menu-bg: #014482;

	/* body */
	--clr-body: #1e1e1e;
	--clr-body-bg: var(--clr-scrollbar-bg);
	--clr-primary: #fff;
	--clr-secondary: #fff;
	--clr-caret: #f15412;
	--clr-accent: #4682b4;
	--clr-hover: #4682b4;
	--clr-active: #700c0c;
	--clr-link: #3794ff;

	/* header */
	--clr-header: #fff;
	--clr-header-bg: #1e1e1e;

	/* footer */
	--clr-footer: #fff;
	--clr-footer-bg: #1e1e1e;

	/* ____________________________________________ */
	/* __________________SIZE______________________ */
	/* ____________________________________________ */
	/* font-family */
	--ff-base: system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu",
		"Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";

	/* main font */
	--ff-primary: "Nunito", var(--ff-base);

	// --ff-secondary: "fontName(2)", var(--ff-base);
	// --ff-third: "fontName(3)", var(--ff-base);
	// --ff-fourth: "fontName(4)", var(--ff-base);

	/* ____________________________________________ */
	/* font-size */
	--fs-burger-menu: clamp(1.563rem, calc(1.339rem + 1.12vw), 1.875rem); /* 30px */
	--fs-h1: clamp(2rem, calc(1.818rem + 0.91vw), 2.5rem);
	--fs-h2: clamp(1.5rem, calc(1.318rem + 0.91vw), 2rem);
	--fs-h3: clamp(1.25rem, calc(1.159rem + 0.45vw), 1.5rem);
	--fs-h4: clamp(1.17rem, calc(1.141rem + 0.15vw), 1.25rem);
	--fs-h5: clamp(1rem, calc(0.938rem + 0.31vw), 1.17rem);
	--fs-h6: clamp(0.938rem, calc(0.908rem + 0.15vw), 1rem);
	--fs-body: clamp(0.938rem, calc(0.908rem + 0.15vw), 1rem);

	// --fs-18px: clamp();

	/* ____________________________________________ */
	/* font-weight */
	--fw-body: 400;
	--fw-h: 700;

	/* line-hight */
	--lh-body: 1.5;
	--lh-h: 1.3;

	/* ____________________________________________ */
	/* rounding (border) */
	--round-sm: 5px;
	--round-md: 20px;

	/* shadows */
	--shadow: 0 0 0 0.0625rem var(--clr-accent);

	/* spacing (margin, padding, gap) */
	--space-sm: 10px;
	--space-md: 20px;
	--space-lg: 30px;
	--space-xl: 40px;
}

/* ____________________________________________ */
/* ________________Dark Mode___________________ */
/* ____________________________________________ */
@media (prefers-color-scheme: dark) {
	:root {
		/* scrollBar */
		--clr-scrollbar: #777;
		--clr-scrollbar-bg: #1c1c1c;
	}

	input,
	[type="number"],
	[type="checkbox"],
	[type="radio"] {
		color-scheme: light;
	}
}
