/* https://habr.com/ru/post/527062/ */
/* https://css-tricks.com/how-to-animate-the-details-element/ */
/* https://www.youtube.com/watch?v=k6Dn2jYjH0I */
/* https://stackoverflow.com/questions/16751345/automatically-close-all-the-other-details-tags-after-opening-a-specific-detai
*/
/* https://www.youtube.com/watch?v=gz1v1KenZWk */
/* https://codepen.io/stoumann/pen/ExydEYL - animation | NEW */

/* ____________________________________________ */
@charset "UTF-8";

/* Add basic space everywhere (to container) */
div.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

body {
	height: 1000px;
	background-color: #34495e;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	max-width: 1200px;
}

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
/* Accordion */
summary::-webkit-details-marker {
	display: none;
}

summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none; /* marker */
	outline: none;
	border: 0;
	padding: 0.3125em;
	font-weight: 700;
	background-color: #fff;
	user-select: none;
}

details {
	margin-top: 16px;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 25%);
	border-block: thin solid #8f8f9d;
}

details .accordion-content {
	padding: 0.3125em;
	background-color: #fff;
}

.accordion-border-line {
	border-top: 1px solid;
	border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
	padding: 1rem;
	line-height: 1.5rem;
}

/* ____________________________________________ */
/* Border Radius */
details,
summary,
.accordion-content {
	border-radius: 0.5rem;
}

details[open] > summary {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

details[open] > .accordion-content {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* ____________________________________________ */
/* Animation Content */
/*
details[open] {
	overflow: hidden;
	will-change: max-height;
}

details[open] > *:not(summary) {
	animation: details-setHeight 1s ease-in-out forwards;
}

@keyframes details-setHeight {
	0% {
		max-height: 0;
	}

	100% {
		max-height: 100vh;
	}
}
 */

/* ____________________________________________ */
/* Animation Icon */
summary::after {
	content: "";
	width: 1.8em;
	height: 1.8em;
	background: transparent
		url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4' style='fill:black;'/%3E%3C/svg%3E")
		no-repeat right center / 1.8em;
	transition: transform 0.4s ease-in-out;
}

details[open] summary::after {
	transform: rotate(90deg);
}

/* ____________________________________________ */
/* Animation Content | NEW */
details {
	height: var(--collapsed);
	transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
	will-change: height;
}

details[open] {
	overflow: hidden;
	height: var(--expanded);
	will-change: height;
}

/* 3 States of summary */
details[open] > summary {
	color: hsl(195deg 10% 92%);
	background-color: hsl(195deg 10% 20%);
}

details[open] > summary:focus {
	color: hsl(195deg 10% 99%);
	background-color: hsl(195deg 10% 10%);
}

summary:focus {
	background-color: hsl(195deg 10% 75%);
}
