/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
// Import
@import "./composition";
@import "./flexbox";
@import "./grid";

/* ____________________________________________ */
/* overflow */
.of-hidden {
	overflow: hidden;
}

/* text-wrap */
.nowrap {
	white-space: nowrap;
}

.wrap {
	white-space: wrap;
}

/* text-align */
.ta-center,
.ta-left,
.ta-right {
	vertical-align: middle;
}

.ta-center {
	text-align: center;
}

.ta-left {
	text-align: left;
}

.ta-right {
	text-align: right;
}

/* float [clearfix] */
.d-floatfix {
	display: flow-root;
}

.d-block {
	display: block;
}

.d-inblock {
	display: inline-block;
}

.d-inline {
	display: inline;
}

/* hidden */
.d-hidden {
	display: none !important;
}
