/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* ___________Composition Classes______________ */
/* ____________________________________________ */
/* Exemple */
// @extend .flow-space;	 (Combine selectors)
// @include .flow-space; (Copy selectors)

/* ____________________________________________ */
/* add basic space (to container) */
.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

/* semantically: visible */
@mixin .visually-hidden {
	position: absolute;
	clip-path: inset(100%);
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	white-space: nowrap;
	pointer-events: none;
	clip: rect(0 0 0 0);
}

/* input-reset */
@mixin .input-reset {
	// number firefox
	appearance: textfield;

	// password Edge
	&::-ms-reveal {
		display: none;
	}

	// number Chrome
	&::-webkit-inner-spin-button {
		appearance: none;
	}

	// search Chrome
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-decoration,
	&::-webkit-search-results-decoration {
		appearance: none;
	}
}

/* button-reset */
@mixin .btn-reset {
	border-width: 0;
	padding: 0;
	background-color: transparent;
}

/* list-reset */
@mixin .list-reset {
	list-style: none inside;
	margin: 0;
	padding: 0;
}

/* off-screen */
@mixin .offscreen {
	position: absolute;
	transform: translateX(-100%); // left: -100%;
}

/* text-ellipsis */
@mixin .text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ____________________________________________ */
/* ___________Flexbox Composition______________ */
/* ____________________________________________ */
@mixin .fx-ai-center {
	display: flex;
	align-items: center;
}

@mixin .fx-jc-center {
	display: flex;
	justify-content: center;
}

@mixin .fx-all-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin .fx-center-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
