/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* ___________Composition Classes______________ */
/* ____________________________________________ */
/* Exemple */
// @extend .flow-space;

/* ____________________________________________ */
/* add basic space (to container) */
.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

/* semantically: visible */
@mixin .visually-hidden {
	@include visually-hidden;
}

/* input-reset */
@mixin .input-reset {
	@include input-reset;
}

/* button-reset */
@mixin .btn-reset {
	border-width: 0;
	padding: 0;
	background-color: transparent;
}

/* list-reset */
@mixin .list-reset {
	list-style: none inside;
	margin: 0;
	padding: 0;
}

/* off-screen */
@mixin .offscreen {
	position: absolute;
	transform: translateX(-100%); // left: -100%;
}

/* text-ellipsis */
@mixin .text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ____________________________________________ */
/* ___________Flexbox Composition______________ */
/* ____________________________________________ */
@mixin .fx-ai-center {
	display: flex;
	align-items: center;
}

@mixin .fx-jc-center {
	display: flex;
	justify-content: center;
}

@mixin .fx-all-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin .fx-center-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
