/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
/* Exemple */
// @extend .flow-space;	 (Combine selectors)
// @include .flow-space; (Copy selectors)

/* ____________________________________________ */
@mixin overflow-hidden {
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

/* ------------------------------------ */
@mixin t-uppercase {
	text-transform: uppercase;
}

.t-uppercase {
	text-transform: uppercase;
}

/* ------------------------------------ */
@mixin nowrap {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

/* ------------------------------------ */
@mixin wrap {
	white-space: wrap;
}

.wrap {
	white-space: wrap;
}

/* ------------------------------------ */
@mixin ta-center {
	vertical-align: middle;
	text-align: center;
}

.ta-center {
	vertical-align: middle;
	text-align: center;
}

/* ------------------------------------ */
@mixin ta-left {
	vertical-align: middle;
	text-align: left;
}

.ta-left {
	vertical-align: middle;
	text-align: left;
}

/* ------------------------------------ */
@mixin ta-right {
	vertical-align: middle;
	text-align: right;
}

.ta-right {
	vertical-align: middle;
	text-align: right;
}

/* ------------------------------------ */
/* float [clearfix] */
@mixin floatfix {
	display: flow-root;
}

.floatfix {
	display: flow-root;
}

/* ------------------------------------ */
@mixin block {
	display: block;
}

.block {
	display: block;
}

/* ------------------------------------ */
@mixin inline-block {
	display: inline-block;
}

.inline-block {
	display: inline-block;
}

/* ------------------------------------ */
@mixin inline {
	display: inline;
}

.inline {
	display: inline;
}

/* ------------------------------------ */
@mixin hidden {
	display: none !important;
}

.hidden {
	display: none !important;
}

/* ------------------------------------ */
@mixin m-left-auto {
	margin-left: auto;
}

.m-left-auto {
	margin-left: auto;
}

/* ------------------------------------ */
@mixin m-right-auto {
	margin-right: auto;
}

.m-right-auto {
	margin-right: auto;
}
