/* https://swiperjs.com/get-started#download-assets */
/* https://www.jsdelivr.com/package/npm/swiper */
/* https://www.youtube.com/watch?v=IVS62g09GxM&t=4419s */
/* https://www.youtube.com/watch?v=OjVK055CTNI&list=PLCMvV-acWe2ABigEmFMDWCu8gzC0fdgRa&index=4 */

/* ____________________________________________ */
@charset "UTF-8";

@import url("swiper-bundle.min.css");

/* Add basic space everywhere (to container) */
div.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

body {
	height: 1000px;
	background-color: #eee;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding-inline: 15px;
	margin-inline: auto;
}

.swiper-section {
	/* _ */
}

.swiper-title {
	color: #eee;
	text-align: center;
}

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
.swiper__swiper {
	/* _ */
}

.swiper-container {
	/* overflow: hidden;
	width: 100%; */
	/* max-width: 1200px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto; */
}

.swiper-wrapper {
	/* display: flex;
	width: 100%;
	height: 100%; */
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;

	/* cursor: grab; */
	/* flex-shrink: 0; */
}

.card {
	min-height: 200px;
	color: #c70303;
	background-color: #7cfc00;
}

/* ____________________pagination________________________ */
.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	margin: 0 4px;
	background-color: #4682b4;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #f00;
}

/* Numbers */
/* .swiper-pagination-current {
	font-size: 20px;
	margin-right: 20px;
}

.swiper-pagination-total {
	margin-left: 20px;
} */

/* ____________________button________________________ */
.swiper-button {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
	width: 40px;
	height: 40px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	border-radius: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;

	/* font-size: 24px;
	color: #000; */
}

.swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 511.995 511.995' xml:space='preserve'%3e%3cpath d='M381.039 248.62L146.373 3.287C142.29-.942 135.54-1.13 131.29 2.954c-4.25 4.073-4.396 10.823-.333 15.083L358.56 255.995 130.956 493.954c-4.063 4.26-3.917 11.01.333 15.083a10.63 10.63 0 007.375 2.958 10.65 10.65 0 007.708-3.292L381.039 263.37c3.938-4.125 3.938-10.625 0-14.75z'/%3e%3c/svg%3e");
	transform: rotate(180deg);
}

.swiper-button-next {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 511.995 511.995' xml:space='preserve'%3e%3cpath d='M381.039 248.62L146.373 3.287C142.29-.942 135.54-1.13 131.29 2.954c-4.25 4.073-4.396 10.823-.333 15.083L358.56 255.995 130.956 493.954c-4.063 4.26-3.917 11.01.333 15.083a10.63 10.63 0 007.375 2.958 10.65 10.65 0 007.708-3.292L381.039 263.37c3.938-4.125 3.938-10.625 0-14.75z'/%3e%3c/svg%3e");
}

/* ____________________________________________ */
/* Вынесенные кнопки слайдера */

/* .swiper-button-prev,
.swiper-button-next {
	position: static;
	margin-left: 10px;
}

.swiper-container {
	padding-bottom: 50px;
} */
/* ____________________________________________ */
