<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PhoneMask</title>
		<link href="style.css" rel="stylesheet" />
		<script src="https://unpkg.com/imask" defer></script>
		<script src="script.js" defer></script>
	</head>
	<body>
		<h1>PhoneMask</h1>
		<br />
		<!-- Щоб плагін працював добавте до любого імпута class or id "phone__input" -->
		<input id="phone__input" name="tel" type="tel" />
	</body>
</html>
