<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>Range Progress</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="srcipt.js"></script>
	</head>
	<body>
		<h1>Range Progress</h1>
		<br />
		<input type="range" name="" id="webkit-progress" />
	</body>
</html>
