<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>PhoneMask</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="https://unpkg.com/imask"></script>
		<script defer src="script.js"></script>
	</head>
	<body>
		<h1>PhoneMask</h1>
		<br />
		<!-- Щоб плагін працював добавте до любого імпута class or id "phone__input" -->
		<input type="tel" name="" id="phone__input" />
	</body>
</html>
