/* ____________________________________________ */
/* Accordion */
summary::-webkit-details-marker {
	display: none;
}

summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	outline: none;
	border: 0;
	padding: 0.3125em;
	font-weight: 700;
	background-color: #fff;
	user-select: none;
}

details {
	margin-top: 16px;
	border: thin solid #8f8f9d;
	width: 25em;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 25%);
}

details .accordion-content {
	padding: 0.3125em;
	background-color: #fff;
}

.accordion-border-line {
	border-top: 1px solid;
	border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
	padding: 1rem;
	line-height: 1.5rem;
}

/* ____________________________________________ */
/* Border Radius */
details,
summary,
.accordion-content {
	border-radius: 0.5rem;
}

details[open] > summary {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.accordion-content {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* ____________________________________________ */
/* Animation Content */
details[open] {
	overflow: hidden;
	will-change: max-height;
}

details[open] > *:not(summary) {
	animation: details 1s ease-in-out forwards;
}

@keyframes details {
	0% {
		max-height: 0;
	}

	100% {
		max-height: 100vh;
	}
}

/* ____________________________________________ */
/* Animation Icon */
summary::after {
	content: "";
	width: 1.8em;
	height: 1.8em;
	background: transparent
		url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4' style='fill:black;'/%3E%3C/svg%3E")
		no-repeat right center / 1.8em;
	transition: transform 0.4s ease-in-out;
}

details[open] summary::after {
	transform: rotate(90deg);
}
