// Import
@import "./inputs";
@import "./accordion";

// optimization || low page speed
/* section,
footer {
	contain-intrinsic-size: auto 540px; // Hight
	content-visibility: auto;
} */

/* main background */
.main {
	background: linear-gradient(to right, #eee, #014482) no-repeat;
}
