// Import
@import "./inputs";
@import "./accordion";

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
// Test ::placeholder
.contenteditable {
	max-width: 500px;
	min-height: 70px;
}

.contenteditable[placeholder]:empty::before {
	font-size: 17.1px;
	color: #555;
	content: attr(placeholder);
}

// Style video subtitles
video::cue {
	font-size: 32px;
	color: #ff0;
}
