{% set username = '{3,20}' %}
{% set password = '{7,30}' %}
{% set email = '{1,2}' %}

<section class="your-title-section">
	<div class="container">
		<h1>Заголовок 1</h1>
		<h2>Заголовок 2</h2>
		<h3>Заголовок 3</h3>
		<h4>Заголовок 4</h4>
		<h5>Заголовок 5</h5>
		<h6>Заголовок 6</h6>
		<br />
		<ul>
			<li>Список</li>
			<li>Список</li>
			<li>Список</li>
			<li>Список</li>
			<li>Список</li>
			<li>Список</li>
		</ul>
		<table>
			<tr>
				<th>swgsdgsdgs</th>
				<th>sdgsg</th>
				<th>sgsdgs</th>
			</tr>
			<tr>
				<td>sdgsg</td>
				<td>sgsgd</td>
				<td>sgsgsdgs</td>
			</tr>
			<tr>
				<td>sgsdg</td>
				<td>sgsdg</td>
				<td>sdgsdg</td>
			</tr>
			<tr>
				<td>sgdsdg</td>
				<td>sdgsg</td>
				<td>sgdsdg</td>
			</tr>
		</table>
		<a href="https://www.google.com/" target="_blank">Google</a>
		<br />
		<br />
		<form action="#!">
			<input type="reset" value="Reset" />
			<input type="submit" value="Submit" />
			<button type="button">Button</button>
			<button>Button</button>
			<br />
			<br />
			<!-- <input type="week" name="week" id="week" /> -->
			<input id="file" name="file" type="file" accept="image/png, image/jpeg" />
			<br />
			<input id="range-progress"
				name="range"
				type="range"
				value="50"
				min="0"
				max="100" />
			<br />
			<textarea id="textarea" name="textarea" cols="30" rows="10"></textarea>
			<br />
			<input id="checkbox1" name="checkbox" type="checkbox" />
			<input id="checkbox2" name="checkbox" type="checkbox" />
			<input id="checkbox3" name="checkbox" type="checkbox" />
			<input id="checkbox4" name="checkbox" type="checkbox" />
			<input id="checkbox5" name="checkbox" type="checkbox" />
			<input id="checkbox6" name="checkbox" type="checkbox" disabled />
			<br />
			<input id="radio7" name="radio" type="radio" />
			<input id="radio8" name="radio" type="radio" />
			<input id="radio9" name="radio" type="radio" />
			<input id="radio10" name="radio" type="radio" />
			<input id="radio11" name="radio" type="radio" disabled />
			<br />
			<input id="date" name="date" type="date" />
			<br />
			<br />
			<!-- autofocus -->
			<input id="username"
				name="username"
				type="text"
				title="Must contain at least letters, and at least 3 or more characters."
				required
				autocomplete="on"
				pattern="[a-zA-Zа-яА-Я\-].{{ username }}"
				placeholder="Text" />
			<br />
			<br />
			<div class="input-number">
				<input id="number" name="number" type="number" inputmode="numeric" />
			</div>
			<br />
			<br />
			<div class="search-wrap">
				<input id="txtsearchinput"
					name="s"
					type="search"
					placeholder="Search"
					results="10" />
				<span class="hidden clear" id="deltxtinput"></span>
			</div>
			<br />
			<div class="password-wrap">
				<input id="password"
					name="password"
					type="password"
					title="Must contain at least one number and letter, and at least 7 or more characters."
					required
					pattern="(?=.*[0-9!@#$%^&*_=+\-])(?=.*[a-z]).{{ password }}"
					placeholder="Password" />
				<span class="eye-open eye-close hidden" id="togglePassword"></span>
			</div>
			<br />
			<input id="email"
				name="email"
				type="email"
				pattern="^[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z].{{ email }}$"
				placeholder="Email"
				required
				autocomplete="on" />
			<br />
			<br />
			<select class="select" id="select" name="select">
				<option value="">Oleg</option>
				<option value="">Ira</option>
				<option value="">Victor</option>
				<option value="">Oksana</option>
				<option value="">Igor</option>
				<option value="">Taras</option>
				<option value="">I am</option>
				<option value="">Oleg</option>
				<option value="">Ira</option>
				<option value="">Victor</option>
				<option value="">Oksana</option>
				<option value="">Igor</option>
				<option value="">Taras</option>
				<option value="">I am</option>
				<option value="">Oleg</option>
				<option value="">Ira</option>
				<option value="">Victor</option>
				<option value="">Oksana</option>
				<option value="">Igor</option>
				<option value="">Taras</option>
				<option value="">I am</option>
				<option value="">Oleg</option>
				<option value="">Ira</option>
				<option value="">Victor</option>
				<option value="">Oksana</option>
				<option value="">Igor</option>
				<option value="">Taras</option>
				<option value="">I am</option>
				<option value="">Oleg</option>
				<option value="">Ira</option>
				<option value="">Victor</option>
				<option value="">Oksana</option>
				<option value="">Igor</option>
				<option value="">Taras</option>
				<option value="">I am</option>
				<option value="">Oleg</option>
				<option value="">Ira</option>
				<option value="">Victor</option>
				<option value="">Oksana</option>
				<option value="">Igor</option>
				<option value="">Taras</option>
				<option value="">I am</option>
			</select>
			<br />
			<br />
			<label for="datalist">Choose a flavor:</label>
			<input id="datalist" name="datalist" list="input-datalist" />
			<datalist id="input-datalist">
				<option value="Chocolate"></option>
				<option value="Coconut"></option>
				<option value="Mint"></option>
				<option value="Strawberry"></option>
				<option value="Vanilla"></option>
				<option value="Chocolate"></option>
				<option value="Coconut"></option>
				<option value="Mint"></option>
				<option value="Strawberry"></option>
				<option value="Vanilla"></option>
			</datalist>
			<br />
			<br />
			<label for="progress">Downloading progress:</label>
			<progress id="progress" value="32" max="100"></progress>
			<br />
			<input id="color" name="color" type="color" value="#f15412" />
		</form>
		<br />
		<details>
			<summary class="summary">Accordion</summary>
			<p class="accordion-content">Далеко-далеко за словесными горами в стране,
				гласных и согласных живут рыбные тексты. Бросил заглавных вопрос
				переулка вскоре. Пор своих ведущими власти. До коварный грамматики
				вопрос строчка необходимыми большого силуэт рот взгляд щеке.</p>
		</details>
		<br />
		<details>
			<summary class="summary">Accordion</summary>
			<p class="accordion-content">Далеко-далеко за словесными горами в стране,
				гласных и согласных живут рыбные тексты. Бросил заглавных вопрос
				переулка вскоре. Пор своих ведущими власти. До коварный грамматики
				вопрос строчка необходимыми большого силуэт рот взгляд щеке.</p>
		</details>
		<br />
		<hr />
		<p>Далеко-далеко за словесными горами в стране гласных и согласных
			живутрыбные тексты. Живет семантика коварных снова рукопись бросил,
			рыбными продолжил переписали то строчка что текст? Которой снова ему злых
			свой дороге это. Снова большой дал своих скатился, взобравшись пояс букв
			парадигматическая запятой, имени несколько коварных грамматики которое
			вскоре? Необходимыми, текста проектах речью дороге предупредила себя.
			Оксмокс деревни по всей рыбными себя подзаголовок безопасную. Последний от
			всех буквенных что его запятой пор взобравшись о, продолжил пунктуация
			путь единственное толку это семантика страну маленькая свой себя. Свою,
			города! Но имени всеми вскоре большого родного коварный текстами. Свой
			правилами единственное выйти! Рукописи журчит парадигматическая
			подзаголовок свое своего подпоясал, одна взобравшись по всей мир меня
			приставка необходимыми они толку речью, первую, встретил языкового имени.
			Он вскоре алфавит вдали вопрос. Прямо жаренные себя большой. Пунктуация
			грамматики lorem жизни реторический ручеек последний не дорогу. Мир, если!
			Решила одна точках путь эта послушавшись дал, безопасную пустился родного
			собрал даль ведущими обеспечивает. Безопасную! Диких на берегу гор знаках
			великий запятой рекламных всемогущая там ты имеет? Дороге рекламных
			пустился живет ты однажды даже, своих продолжил ему маленькая агентство
			проектах. Запятых вопрос раз дал меня они. Океана назад не страна образ
			семь маленький страну, текст реторический рыбного жаренные они переулка
			путь строчка знаках? Знаках однажды заголовок переулка ее реторический
			образ букв, снова коварный свою, алфавит власти. Возвращайся необходимыми
			над маленькая пор, пустился журчит заманивший семь продолжил прямо злых
			если приставка рыбного диких текст предложения ведущими. Ее подпоясал
			строчка инициал грамматики дал возвращайся рыбными последний его букв. Она
			не одна свою залетают агентство текстов деревни своего образ запятых
			рыбного снова, однажды, наш своих рот но. Даль жизни послушавшись проектах
			инициал грустный. Безорфографичный до наш вскоре моей злых? Наш
			составитель, залетают бросил реторический свое своего, домах коварный ему
			толку, использовало от всех родного мир необходимыми даль его рыбными моей
			что переписали приставка осталось рукопись снова. Свою переписывается
			залетают буквоград?</p>
		<div>
			<img src="./images/test.webp"
				alt="image"
				aria-hidden="true"
				width="300"
				height="300"
				loading="lazy" />
		</div>
	</div>
</section>
