<section class="section-table">
	<div class="container">
		<article>
			{# Table #}
			<h2 style="color: green;">Table</h2>
			<table>
				<caption>My Daily Schedule</caption>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th scope="col">Time</th>
						<th scope="col">Activity</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Morning</th>
						<td>
							<time datetime="08:00">8am</time>-<time datetime="11:00">11am</time>
						</td>
						<td>Write Code</td>
					</tr>
					<tr>
						<th scope="row">Break</th>
						<td>
							<time datetime="11:00">11am</time>-<time datetime="12:00">12pm</time>
						</td>
						<td>Eat Lunch</td>
					</tr>
					<tr>
						<th scope="row">Afternoon</th>
						<td>
							<time datetime="12:00">12pm</time>-<time datetime="17:00">5pm</time>
						</td>
						<td>Study for Other Courses</td>
					</tr>
					<tr>
						<th scope="row">Evening</th>
						<td rowspan="2">All Other Times</td>
						<td>Free Time</td>
					</tr>
					<tr>
						<th scope="row">Night</th>
						<td>Sleep</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">And that's what I do every day, 5 days a week. Just eat,
							sleep, code ..and recharge!</td>
					</tr>
				</tfoot>
			</table>
		</article>
	</div>
</section>
