<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<title>Switch</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="srcipt.js"></script>
	</head>
	<body>
		<h1>Switch</h1>
		<br />
		<label class="switch">
			<input type="checkbox" name="switch" />
			<span class="slider round"></span>
		</label>
	</body>
</html>
