    <div class="container">
      <h1>Sign In</h1>
      <form method="post">
        <div class="input-box1">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="input-box">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" />
          <span class="eye-open eye-close" id="togglePassword"></span>
        </div>
        <button type="submit" id="submit" class="submit">Log In</button>
      </form>
    </div>