/* https://www.javascripttutorial.net/javascript-dom/javascript-toggle-password-visibility/ */

/* ____________________________________________ */
/**
 * Styling input password in all browsers (opinionated).
 */
::-ms-reveal {
	display: none;
}

.password-wrap {
	display: flex;
	align-items: center;
}

.password-wrap input:is([type='text'], [type='password']) {
	padding-right: 1.8rem;
	width: 12.95em;
}

.eye-open {
	display: block;
	height: 1rem;
	width: 1rem;
	margin-left: -25px;
	cursor: pointer;
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M12.015 7c4.751 0 8.063 3.012 9.504 4.636-1.401 1.837-4.713 5.364-9.504 5.364-4.42 0-7.93-3.536-9.478-5.407 1.493-1.647 4.817-4.593 9.478-4.593zm0-2c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 3c-2.209 0-4 1.792-4 4 0 2.209 1.791 4 4 4s4-1.791 4-4c0-2.208-1.791-4-4-4z'/%3e%3c/svg%3e")
		transparent no-repeat right center / 1em;
	/* background-color: transparent;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: center;
	background-size: 1em; */
}

.eye-close {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='580' height='400' xmlns='http://www.w3.org/2000/svg'%3e%3c!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ --%3e%3cg%3e%3ctitle%3eLayer 1%3c/title%3e%3cg stroke='null' id='svg_30'%3e%3cpath stroke='null' id='svg_29' d='m290.360478,57.821876c114.170623,0 193.760836,85.648097 228.389307,131.827549c-33.667237,52.23624 -113.25745,152.528682 -228.389307,152.528682c-106.216408,0 -190.564731,-100.548363 -227.764505,-153.751414c35.878076,-46.833471 115.75666,-130.604817 227.764505,-130.604817zm0,-56.871246c-181.88959,0 -288.730801,186.281767 -288.730801,186.281767s116.189215,211.816957 288.730801,211.816957c185.830652,0 288.009875,-211.816957 288.009875,-211.816957s-103.116427,-186.281767 -288.009875,-186.281767zm-0.360463,85.306869c-53.084173,0 -96.123446,50.956637 -96.123446,113.742492c0,62.814291 43.039273,113.742492 96.123446,113.742492s96.123446,-50.928201 96.123446,-113.742492c0,-62.785856 -43.039273,-113.742492 -96.123446,-113.742492z'/%3e%3c/g%3e%3cline stroke-linecap='undefined' stroke-linejoin='undefined' id='svg_32' y2='406' x2='-8' y1='-11' x1='590' fill-opacity='0' stroke-opacity='null' stroke-width='50' stroke='%23ffffff' fill='none'/%3e%3c/g%3e%3c/svg%3e");
}

/* Hidden */
.hidden {
	display: none;
}
