<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="script.js"></script>
	</head>
	<body>
		<div id="wrappar">
			<header class="header">
				<div class="container header__container">
					<div><a href="/" class="header__logo">Logo</a></div>
					<nav class="navbar">
						<ul class="nav">
							<li class="nav__li">
								<a href="#" class="nav__li-link">Обо мне</a>
							</li>
							<li class="nav__li">
								<a href="#" class="nav__li-link">Портфолио</a>
							</li>
							<li class="nav__li">
								<a href="#" class="nav__li-link">Отзывы</a>
							</li>
							<li class="nav__li">
								<a href="#" class="nav__li-link">Контакты</a>
							</li>
							<li class="nav__li">
								<a href="#" class="nav__li-link">Подпишись</a>
							</li>
						</ul>
					</nav>
					<button
						class="menu-button"
						title="open nav menu"
						aria-label="open nav menu"
						aria-expanded="true"
					>
						<span class="menu-icon"></span>
					</button>
				</div>
			</header>
		</div>
	</body>
</html>
