/* https://www.youtube.com/watch?v=LcHXs4352Ps */
/* https://www.youtube.com/watch?v=Elnsd8TWCrA */
/* https://www.youtube.com/watch?v=qoO1ZNi1LyI&t=436s */

/* ____________________________________________ */
@charset "UTF-8";

/* Add basic space everywhere (to container) */
div.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

body {
	height: 2000px;
	min-height: 100vh;
	background-color: #eee;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

body.lock {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

body.lock-fixed {
	position: fixed;
	inset: 0;
	width: 100%; /* 97.7% - 17px */
	height: 100vh;
	overflow: hidden;
}

/* html {
	scrollbar-gutter: stable;
} */

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
.modal-open-btn {
	padding: 10px;
	margin-top: 30px;
	color: #fff;
	cursor: pointer;
	background-color: #000;
	border: none;
}

/* ____________________________________________ */
.modal-close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 5px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.modal-close-btn svg path {
	transition: fill 0.4s;
}

.modal-close-btn:hover svg path {
	fill: #00f;
}

.modal-close-btn:active svg path {
	fill: rgb(186 53 0);
}

/* ____________________________________________ */
.modal-overlay {
	position: fixed;
	inset: 0;
	z-index: 99998;
	display: grid;
	padding: 30px;
	margin: auto;
	overflow: hidden auto;
	cursor: pointer;
	visibility: hidden;
	background-color: rgb(55 55 55 / 30%);
	opacity: 0;
	transition: opacity 0.4s linear, visibility 0.4s linear;
}

.modal {
	position: relative;
	z-index: 1;
	max-width: 500px;
	padding: 30px;
	margin: auto;
	cursor: auto;
	visibility: hidden;
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 0 1em rgb(55 55 55 / 40%);
	transition: transform 0.4s ease-in-out, visibility 0.4s ease-in-out;
	transform: translateY(-25%) scale(0.7);
}

.modal--1,
.modal--2 {
	position: absolute;
	inset: 0;
	width: fit-content;
	height: fit-content;
	margin: auto;
	overflow: hidden auto;
}

/* ____________________________________________ */
.modal-overlay.overlay-active {
	visibility: visible;
	opacity: 1;
}

.active {
	visibility: visible;
	transform: translateY(0) scale(1);
}
