<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#4682b4" />
	<meta name="apple-mobile-web-app-title" content="New Project" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="description" content="gulp4js-pack for weblayout" />
	<meta name="keywords" content="html, css, javascript" />
	<meta name="author" content="Oleh Semchuk" />
	<title>New Project</title>
	<!-- ________________Font (preload & prefetch)_____________________ -->
	<link type="font/woff2" href="../font/Nunito-Regular.woff2" rel="preload" as="font" crossorigin />
	<!-- ____________________Favicon.ico Import________________________ -->
	<!-- Favicon SVG, sizes="any" -->
	<link type="image/svg+xml" href="./img/favicon/favicon.svg" rel="icon" />
	<!-- Favicon PNG, Four sizes, sizes="16x16, 32x32, 96x96, 120x120" -->
	<link type="image/png" href="./img/favicon/favicon120.png" rel="icon" />
	<!-- Apple PNG, One size, sizes="180x180px" -->
	<link href="./img/favicon/apple-touch-icon.png" rel="apple-touch-icon" />
	<!-- Android PNG, Two sizes, sizes="192x192, 512x512px" -->
	<link href="./img/favicon/manifest.json" rel="manifest" />
	<!-- ____________________CSS & JS Import________________________ -->
	<link href="./css/style.min.css" rel="stylesheet" />
	<script src="./js/script.min.js" defer></script>
</head>

<!-- ____________________________________________ -->
<!-- __________________Libs______________________ -->
<!-- ____________________________________________ -->
<!--
<link href="https://cdn.jsdelivr.net/npm/swiper@9.3.0/modules/scrollbar/scrollbar.min.css"
rel="stylesheet" />
<script src=" https://cdn.jsdelivr.net/npm/swiper@9.3.0/swiper-bundle.min.js" defer></script>

<link href="./css/swiper-bundle.min.css" rel="stylesheet" />
<script src="./js/swiper-bundle.min.js" defer></script>

<link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet" />
<script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js" defer></script>
 -->
