/* ____________________________________________ */
/**
 * Accordion */
/* ____________________________________________ */
summary::-webkit-details-marker {
	display: none;
}

summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	border: thin solid #8f8f9d;
	padding: 0.3125em;
	background-color: #fff;
}

details {
	margin-bottom: 0.625rem;
	width: 25em;
}

details .content {
	margin-top: 0.3125em;
	border: thin solid #8f8f9d;
	padding: 0.3125em;
	background-color: #fff;
}

/* ____________________________________________ */
/* Animation */
@keyframes details {
	0% {
		max-height: 0;
		will-change: max-height;
	}

	100% {
		max-height: 100vh;
	}
}

details[open] > *:not(summary) {
	overflow: hidden;
	animation: details 1s ease-in-out forwards;
	will-change: max-height;
}

/* ____________________________________________ */
/* Icon */
summary::after {
	content: "";
	width: 2em;
	height: 2em;
	background: transparent
		url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4' style='fill:black;'/%3E%3C/svg%3E")
		no-repeat right center / 1.9em;
	transition: transform 0.2s ease-in-out;
}

details[open] summary::after {
	transform: rotate(90deg);
	transition: transform 0.4s ease-in-out;
}
