/* https://yoksel.github.io/unicode-table/ */
/* ____________________________________________ */

@charset "UTF-8";

body {
	height: 100vh;
	background-color: #eee;
}

.section {
	height: 4000px;
}

html {
	scroll-behavior: smooth;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
.scroll-up {
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 1000;
	width: 50px;
	height: 50px;
	color: #dcdcdc;
	cursor: pointer;
	visibility: hidden;
	border-radius: 50px;
	box-shadow: inset 0 0 0 4px #dcdcdc;
	opacity: 0;
	transition: 0.2s;
	transform: translateY(25px);
}

.scroll-up::before {
	position: absolute;
	top: 0;
	left: -7px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 45px;
	content: "\203a"; /* ↑ */
	transform: rotate(-90deg);
}

.scroll-up:hover {
	color: #ffa500;
}

.scroll-up--active {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

/* .scroll-up__svg{

} */

.scroll-up__svg-path {
	fill: none;
	stroke: #ffa500;
	stroke-width: 4px;
	transition: 0.2s ease-in-out;
}
