{
	"jsxSingleQuote": true,
	"semi": true,
	"trailingComma": "all",
	"endOfLine": "lf",
	"printWidth": 100,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"useTabs": true,
	"tabWidth": 2,
	"arrowParens": "always",
	"singleQuote": true,
	"overrides": [
		{
			"files": ["*.scss", "*.sass", "*.less", "*.postcss"],
			"options": { "singleQuote": false }
		},
		{
			"files": ["*.html"],
			"options": { "singleQuote": false }
		}
	],
	"ignorePath": [
		"**/node_modules/**",
		"**/dist/**",
		"**/dest/**",
		"**/app/**",
		"**/build/**",
		"**/libs/**",
		"*.min.js",
		"*.min.css"
	]
}
