# Ignore
node_modules/
build/ !*.html !*.css !*.js
dist/ !*.html !*.css !*.js
dest/ !*.html !*.css !*.js
app/ !*.html !*.css !*.js
#src/script.json
src/scss/libs/
src/js/libs/
src/assets/libs/
*.min.js
*.min.css
gulpfile.js
gulpfile.esm.js
