/* https://www.youtube.com/watch?v=iGUSTyG-CYw&list=PLig1Jrpe_hzoJqsT81rjMw3qRV1AKGOsf&index=58 */

html {
	scroll-behavior: smooth;
	scroll-padding-top: var(--scroll-padding, 50px);
}

header {
	position: fixed; /* or sticky */
	top: 0;
	width: 100%;
}

main {
	margin-top: 5.5rem;
}
