<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hamburger menu</title>
		<link href="style.css" rel="stylesheet" />
		<script src="script.js" defer></script>
	</head>
	<body>
		<!-- ____________________________________________ -->
		<div id="wrappar">
			<header class="header">
				<div class="container header__container">
					<!-- Logo -->
					<a class="header__logo" href="/"
						><img src="../../img/favicon/vsc-icon.svg" alt="logo" aria-hidden="true"
					/></a>
					<!-- navbar -->
					<nav class="header__navbar" title="Navigation Menu">
						<ul class="navbar">
							<li class="nav__li">
								<a class="nav__li-link" href="#">Обо мне</a>
							</li>
							<li class="nav__li">
								<a class="nav__li-link" href="#">Портфолио</a>
							</li>
							<li class="nav__li">
								<a class="nav__li-link" href="#">Отзывы</a>
							</li>
							<li class="nav__li">
								<a class="nav__li-link" href="#">Контакты</a>
							</li>
							<li class="nav__li">
								<a class="nav__li-link" href="#">Подпишись</a>
							</li>
						</ul>
					</nav>
					<!-- hamburger -->
					<button
						class="menu-button"
						title="Open Nav Menu"
						aria-expanded="false"
						aria-label="open nav menu"
						tabindex="-1">
						<span class="menu-icon"></span>
					</button>
				</div>
			</header>
		</div>
		<!-- ____________________________________________ -->
	</body>
</html>
