<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Custom Radio and Checkbox - Button</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="srcipt.js"></script>
	</head>
	<body>
		<!-- Radio -->
		<h1>Custom Radio:</h1>

		<div class="radio-wrapper">
			<label>
				<input type="radio" name="category" class="real-radio" value="one" />
				<span class="custom-radio"></span>
				radio one
			</label>
		</div>
		<br />
		<div class="radio-wrapper">
			<label>
				<input type="radio" name="category" class="real-radio" value="two" />
				<span class="custom-radio"></span>
				radio two
			</label>
		</div>
		<!-- Checkbox -->
		<h1>Custom Checkbox:</h1>

		<div class="checkbox-wrapper">
			<label>
				<input
					type="checkbox"
					name="category"
					class="real-checkbox"
					value="one"
				/>
				<span class="custom-checkbox"></span>
				checkbox one
			</label>
		</div>
		<br />
		<div class="checkbox-wrapper">
			<label>
				<input
					type="checkbox"
					name="category"
					class="real-checkbox"
					value="two"
				/>
				<span class="custom-checkbox"></span>
				checkbox two
			</label>
		</div>
		<!-- Checkbox-Disabled -->
		<br />
		<div class="checkbox-wrapper">
			<label>
				<input
					type="checkbox"
					name="category"
					class="real-checkbox"
					value="two"
					disabled
					checked
				/>
				<span class="custom-checkbox"></span>
				checkbox disabled
			</label>
		</div>
		<br />
		<div class="checkbox-wrapper">
			<label>
				<input
					type="checkbox"
					name="category"
					class="real-checkbox"
					value="two"
					disabled
				/>
				<span class="custom-checkbox"></span>
				checkbox disabled
			</label>
		</div>
	</body>
</html>
