/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e */
/* https://andy-bell.co.uk/a-modern-css-reset/ */
/* https://webdevpuneet.com/reboot-css-bootstrap-4-for-css-reset/ */
/* https://www.youtube.com/shorts/2lyDv0wOQuQ */
/* https://github.com/csstools/normalize.css */
/* https://github.com/csstools/sanitize.css */
/* ____________________________________________ */
/* 100-thin, 200-extralight, 300-light, 400-normal, 500-medium, 600-sembold, 700-bold, 800-extrabold, 900-black */
/* ____________________________________________ */
/* _____________Normalize & Reset______________ */
/* ____________________________________________ */
/* all: unset; */
html {
	break-inside: avoid-column;
	box-sizing: border-box;
	background-repeat: no-repeat;
}

*,
*::before,
*::after {
	break-inside: inherit;
	box-sizing: inherit;
	background-repeat: inherit;
}

* {
	min-width: 0;
}

*::before,
*::after {
	vertical-align: inherit;
	text-decoration: inherit;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari.
 */
:where(nav li)::before {
	content: "\200B";
	float: left;
}

/**
 * 1. Correct the border color in all browsers.
 * 2. Add the correct box sizing in Firefox.
 */
:where(hr) {
	border: thin solid;
	border-color: #555 #808080 #808080 #555;
	height: 0;
	box-sizing: content-box;
}

/**
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers.
 */
:where(pre) {
	overflow: auto;
	font-size: inherit;
}

/**
 * Add the correct text decoration in Safari.
 */
:where(abbr[title]) {
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
:where(b, strong) {
	font-weight: 700;
}

/**
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(code, kbd, samp) {
	font-size: inherit;
}

/**
 * Add the correct font size in all browsers.
 */
:where(small) {
	font-size: 80%;
}

/*
 * Change the alignment in all browsers.
 */
:where(audio, canvas, iframe, img, svg, picture, video, progress) {
	vertical-align: middle;
}

/**
 * Remove the border on iframes in all browsers.
 */
:where(iframe) {
	border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers.
 */
:where(svg:not([fill])) {
	fill: currentcolor;
}

/**
 * 1. Collapse border spacing in all browsers.
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
:where(table) {
	border-color: #a0a0a0;
	border-collapse: collapse;
	text-indent: 0;
}

/**
 * Remove the margin on controls in Safari.
 */
:where(button, input, select) {
	margin: 0;
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
:where(button, select) {
	text-transform: none;
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
:where(button, [type="button"], [type="reset"], [type="submit"]) {
	appearance: button;
}

/**
 * Change the inconsistent appearance in all browsers.
 */
:where(fieldset) {
	border: 0.0625rem solid #a0a0a0;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Change the resize direction in all browsers.
 */
:where(textarea) {
	margin: 0;
	resize: vertical;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 */
:where([type="search"]) {
	appearance: textfield;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button {
	height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
/* stylelint-disable-next-line selector-no-vendor-prefix */
::placeholder,
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::file-selector-button,
::-webkit-file-upload-button {
	appearance: button;
	font: inherit;
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
:where(
		button,
		input:is([type="button" i], [type="color" i], [type="reset" i], [type="submit" i])
	)::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:where(:-moz-ui-invalid) {
	box-shadow: none;
}

/*
 * Add the correct styles in Safari.
 */
:where(dialog) {
	position: fixed;
	inset: 0;
	margin: auto;
	border: solid;
	padding: 1em;
	width: fit-content;
	height: fit-content;
	color: #000;
	background-color: #fff;
}

:where(dialog:not([open])) {
	display: none;
}

/*
 * Add the correct display in Safari.
 */
:where(details > summary:first-of-type) {
	display: list-item;
}

/**
 * Change the cursor on busy elements in all browsers.
 */
:where([aria-busy="true"]) {
	cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers.
 */
:where([aria-controls]) {
	cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers.
 */
:where([aria-disabled="true"], [disabled]) {
	cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers.
 */
:where([aria-hidden="false"][hidden]) {
	display: initial;
}

:where([aria-hidden="false"][hidden]:not(:focus)) {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

/**
 * Add the correct system-ui font-family.
 */
@font-face {
	src: local(".AppleSystemUIFont"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"),
		local("HelveticaNeue");
	font-family: system-ui;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: local(".AppleSystemUIFont"), local("Segoe UI Italic"), local("Ubuntu-Italic"),
		local("Roboto-Italic"), local("HelveticaNeue-Italic");
	font-family: system-ui;
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	src: local(".AppleSystemUIFont"), local("Segoe UI Bold"), local("Ubuntu-Bold"),
		local("Roboto-Bold"), local("HelveticaNeue-Bold");
	font-family: system-ui;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: local(".AppleSystemUIFont"), local("Segoe UI Bold Italic"), local("Ubuntu-BoldItalic"),
		local("Roboto-BoldItalic"), local("HelveticaNeue-BoldItalic");
	font-family: system-ui;
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/**
 * Add the correct ui-monospace font-family.
 */
@font-face {
	src: local(".AppleSystemUIFontMonospaced-Regular"), local("Segoe UI Mono"), local("UbuntuMono"),
		local("Roboto-Mono"), local("Menlo");
	font-family: ui-monospace;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: local(".AppleSystemUIFontMonospaced-RegularItalic"), local("Segoe UI Mono Italic"),
		local("UbuntuMono-Italic"), local("Roboto-Mono-Italic"), local("Menlo-Italic");
	font-family: ui-monospace;
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	src: local(".AppleSystemUIFontMonospaced-Bold"), local("Segoe UI Mono Bold"),
		local("UbuntuMono-Bold"), local("Roboto-Mono-Bold"), local("Menlo-Bold");
	font-family: ui-monospace;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: local(".AppleSystemUIFontMonospaced-BoldItalic"), local("Segoe UI Mono Bold Italic"),
		local("UbuntuMono-BoldItalic"), local("Roboto-Mono-BoldItalic"), local("Menlo-BoldItalic");
	font-family: ui-monospace;
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* ____________________________________________ */
/* _______________Typography___________________ */
/* ____________________________________________ */
/* html */
:where(:root) {
	overflow-wrap: break-word;
	tab-size: 4;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

/* :root */
:where(html) {
	font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
}

:where(code, kbd, samp, pre) {
	font-family: ui-monospace, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono",
		"Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

:where(body) {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizespeed;
}

:where(cite, address) {
	font-style: normal;
}

/* ____________________________________________ */
/* links */
:where(a) {
	display: inline-block;
	overflow-anchor: none;
	text-decoration: none;
	color: inherit;
	text-decoration-skip-ink: none;
	text-underline-offset: 0.25em;
}

/* ____________________________________________ */
/* paragraph */
:where(p) {
	margin: 0;
	text-wrap: balance;
}

/* ____________________________________________ */
/* headers */
:where(h1, h2, h3, h4, h5, h6) {
	margin: 0;
	font-weight: var(--fw-h, 700);
	line-height: 1.25;
	text-wrap: balance;
}

:where(h1) {
	font-size: var(--fs-h1, 2em); /* 32px */
}

:where(h2) {
	font-size: var(--fs-h2, 1.5em); /* 24px */
}

:where(h3) {
	font-size: var(--fs-h3, 1.17em); /* 18.72px */
}

:where(h4, h5, h6) {
	font-size: var(--fs-h4-6, 1em); /* 16px */
}

/* ____________________________________________ */
/* add typography inheritance | input */
:where(button, input, select, textarea, optgroup, option),
::placeholder,
::file-selector-button {
	font: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
}

/* ____________________________________________ */
/* images */
:where(img, svg) {
	object-fit: cover;
}

:where(
		img,
		svg,
		picture,
		iframe,
		input,
		video,
		audio,
		select,
		textarea,
		details,
		dialog,
		progress,
		canvas
	) {
	height: auto;
	max-width: 100%;
}

:where(figure, blockquote) {
	margin: 0;
}

/* ____________________________________________ */
/* lists */
:where(ul, ol) {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
}

:where(ul, ol, dl, dd) {
	margin: 0;
}

::marker {
	color: inherit;
}

/* ____________________________________________ */
/* form cursor */
:where(form) {
	cursor: default;
}

/* form border */
:where(fieldset) {
	margin: 0;
	padding: 0;
}

/* btn reset */
:where(button, [type="buttton"]) {
	overflow-anchor: none;
	border-width: 0;
	padding: 0;
	background-color: transparent;
}

/* input reset */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-results-decoration {
	appearance: none;
}

[type="password"]::-ms-reveal {
	display: none;
}

[type="number"] {
	appearance: textfield;
}

[type="number"]::-webkit-inner-spin-button {
	appearance: none;
}

/* ____________________________________________ */
/* add cursor pointer */
:where(
		a,
		label,
		button,
		summary,
		[type="button"],
		[type="reset"],
		[type="submit"],
		[type="range"],
		[type="color"],
		[type="checkbox"],
		[type="radio"]
	),
dialog::backdrop,
[popover]::backdrop,
[type="file"]::file-selector-button,
[type="number"]::-webkit-inner-spin-button,
[type="search"]::-webkit-search-cancel-button,
[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
}

/* ____________________________________________ */
/* _________________Outline____________________ */
/* ____________________________________________ */
/* keyboard Tabs */
:where(a, button, summary, select, textarea, input) {
	outline-width: 0;
	outline-color: transparent;
}

:where([type="file"]):focus {
	outline-width: 0;
}

:where(
		a,
		button,
		summary,
		[type="button"],
		[type="reset"],
		[type="submit"],
		[type="range"],
		[type="color"],
		[type="radio"],
		[type="checkbox"],
		[tabindex="0"]
	):focus-visible {
	outline: 0.125rem solid var(--clr-hover, #4682b4);
}

:where(
		select,
		textarea,
		input:not(
				[type="button"],
				[type="reset"],
				[type="submit"],
				[type="range"],
				[type="color"],
				[type="radio"],
				[type="checkbox"],
				[type="file"]
			)
	):focus,
[type="file"]::file-selector-button:focus {
	outline: 0.125rem solid transparent;
}

/* outline-offset */
:where(
		summary,
		button,
		input:not([type="checkbox"], [type="radio"], [type="color"]),
		select,
		textarea
	),
[type="file"]::file-selector-button {
	outline-offset: 0.1875rem;
}

:where([type="checkbox"], [type="radio"], [tabindex="0"]) {
	outline-offset: 0.0625rem;
}
