/* https://www.youtube.com/watch?v=Ta3RGu0bIhY */
/* https://www.youtube.com/watch?v=Ze2muJxPQFg */

/* ____________________________________________ */
@charset "UTF-8";

/* Add basic space everywhere (to container) */
div.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

body {
	height: 1000px;
	background-color: #eee;
}

h1 {
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ____________________________________________ */
/* __________________Tabs______________________ */
/* ____________________________________________ */
.tabs-wrapper {
	/* _ */
}

.tabs-list {
	display: flex;
}

.tabs__nav-btn {
	flex-grow: 1;
	padding: 20px;
	text-align: center;
	background-color: #eee;
	border: thin solid #8f8f9d;
}

.tabs__content-wrapper {
	/* _ */
}

.tabs__content {
	display: none;
	padding: 20px;
	text-align: center;
	background-color: #eee;
	border: thin solid #8f8f9d;
	border-top: thin solid transparent;
}

.tabs__content.active {
	display: block;
}

.tabs__nav-btn.active {
	background-color: #8f8f9d;
}
