/* =========================Default======================================= */
/* ScrollBar for Wibesite*/
html {
	scroll-behavior: smooth;
	scrollbar-color: var(--scrollbar-color) var(--scrollbar-bgcolor);
}

::-webkit-scrollbar {
	width: 1.125rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
	border-radius: 0.625rem;
	border: 0.3125rem solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bgcolor);
}

/* ScrollBar for Select and Textarea*/
select,
textarea {
	scrollbar-color: var(--scrollbar-color) var(--form-bgcolor);
	scrollbar-width: thin;
}

select::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
select::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	background-color: var(--form-bgcolor);
	width: 1.0625rem;
}

/* =======================::Pseudo-elements================================= */
/* Markers for: ul, ol */
::marker {
	/* content: ''; */
	color: inherit;
}

/* Selection */
::selection {
	color: #fff;
	background-color: #4682b4;
	text-shadow: none;
}

/* =======================:Pseudo-classes=================================== */
/* Link, Button, Input, Select, Datalist, Textarea */
button:is(:hover, :focus-visible),
:is([type='button' i]:hover, [type='button' i]:focus-visible),
:is([type='reset' i]:hover, [type='button' i]:focus-visible),
:is([type='submit' i]:hover, [type='button' i]:focus-visible) {
	color: #fff;
	border-color: transparent;
	background-color: #4682b4;
	box-shadow: 0 0 0.25rem #4682b4;
	animation: fade 0.3s ease-in-out;
}

:is([type='range' i]:hover, [type='range' i]:focus-visible) {
	border: thin solid #9a9a9a;
	border-left: none;
}

:is([type='range' i]:active, [type='range' i]:active) {
	border: thin solid #c1c1c1;
	border-left: none;
}

input:not(
		#datalist,
		[type='file'],
		[type='color'],
		[type='checkbox'],
		[type='radio']
	):is(:hover, :focus-visible),
[type='file']::file-selector-button:is(:hover, :focus-visible),
select:is(:hover, :focus),
textarea:is(:hover, :focus) {
	border: thin solid #4682b4;
	box-shadow: 0 0 0.25rem #4682b4;
	transition: 0.3s ease-in-out;
}

a:is(:hover, :focus-visible) {
	color: darken(#4682b4, 10%);
	transition: 0.3s ease-in-out;
}

#datalist:is(:hover, :focus) {
	border: thin solid #4682b4;
	box-shadow: 0 0 0.25rem #4682b4;
}

/* =========================Table======================================= */
/* Table */
:where(th, td) {
	border: thin solid #8f8f9d;
	background-color: #fff;
	text-align: center;
	padding: 0.5em;
}
