/* =========================Default======================================= */
/* ScrollBar for Wibesite*/
html {
	scroll-behavior: smooth;
	scrollbar-color: var(--scrollbar-color) var(--scrollbar-bgcolor);
}

::-webkit-scrollbar {
	width: 1.125rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
	border-radius: 0.625rem;
	border: 0.3125rem solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bgcolor);
}

/* ScrollBar for Select and Textarea*/
select,
textarea {
	scrollbar-color: var(--scrollbar-color) var(--form-bgcolor);
	scrollbar-width: thin;
}

select::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
select::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	background-color: var(--form-bgcolor);
	width: 1.0625rem;
}

/* =======================::Pseudo-elements================================= */
/* Markers for: ul, ol */
::marker {
	/* content: ''; */
	color: inherit;
}

/* Selection */
::selection {
	color: #fff;
	background-color: #4682b4;
	text-shadow: none;
}

/* =======================:Pseudo-classes=================================== */
/* Link, Button, Input, Select, Datalist, Textarea */
button:is(:hover, :focus-visible),
:is([type='button' i]:hover, [type='button' i]:focus-visible),
:is([type='reset' i]:hover, [type='button' i]:focus-visible),
:is([type='submit' i]:hover, [type='button' i]:focus-visible) {
	color: #fff;
	border-color: transparent;
	background-color: #4682b4;
	box-shadow: 0 0 0.25rem #4682b4;
	animation: fade 0.3s ease-in-out;
}

:is([type='range' i]:hover, [type='range' i]:focus-visible) {
	border: thin solid #9a9a9a;
	border-left: none;
}

:is([type='range' i]:active, [type='range' i]:active) {
	border: thin solid #c1c1c1;
	border-left: none;
}

input:not(#datalist, [type='color'], [type='checkbox'], [type='radio']):is(
		:hover,
		:focus-visible
	),
select:is(:hover, :focus),
textarea:is(:hover, :focus) {
	border: thin solid #4682b4;
	box-shadow: 0 0 0.25rem #4682b4;
	transition: 0.3s ease-in-out;
}

a:is(:hover, :focus-visible) {
	color: darken(#4682b4, 10%);
	transition: 0.3s ease-in-out;
}

#datalist:is(:hover, :focus) {
	border: thin solid #4682b4;
	box-shadow: 0 0 0.25rem #4682b4;
}

/* ======================Normalize-Form================================== */
form {
	cursor: default;
}

a,
label,
select,
button,
[type='button' i],
[type='reset' i],
[type='submit' i],
[type='range' i],
[type='checkbox' i],
[type='radio' i],
[type='color'],
[type='file' i]::file-selector-button,
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button,
::-webkit-calendar-picker-indicator {
	cursor: pointer;
}

/* ======================Normalize-Table================================= */
/* Table */
:where(th, td) {
	border: thin solid #8f8f9d;
	background-color: #fff;
	text-align: center;
	padding: 0.5em;
}

/* ======================Normalize-Form================================== */
/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Add typography inheritance in all browsers (opinionated).
 */

:where(button, input, select, textarea) {
	background-color: #fff; /* 1 */
	border: thin solid #8f8f9d; /* 1 */
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	letter-spacing: inherit; /* 2 */
	line-height: inherit;
	padding: 0.25em 0.375em; /* 1 */
	outline: none;
}

/**
 * Change the inconsistent appearance in all browsers (opinionated).
 */

:where(select) {
	appearance: none;
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='384.929' height='384.929' xml:space='preserve'%3e%3cpath d='M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z'/%3e%3c/svg%3e")
		#fff no-repeat right center / 1rem;
	border-radius: 0;
	padding-right: 1.5em;
	width: 12.45em;
}

#datalist::-webkit-calendar-picker-indicator {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	pointer-events: none;
	color: transparent;
}

:where(#datalist) {
	background: url('') #fff no-repeat;
	border-radius: 0;
	padding-right: 1.5em;
	&:hover,
	&:focus {
		background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='5'%3E%3Cpath d='M4 0h6L7 5'/%3E%3C/svg%3E")
			#fff no-repeat right center / 1.7em;
	}
}

/**
 * Don't show the arrow for multiple choice selects
 */

:where(select[multiple]) {
	background-image: none;
}

/**
 * Remove the border and padding in all browsers (opinionated).
 */

:where([type='color' i], [type='range' i]) {
	border-width: 0;
	padding: 0;
}

/**
 * Styling input range in all browsers (opinionated).
 */

/* Input Range Track */
[type='range' i] {
	accent-color: #0075ff;
	height: 0.4375em;
	width: 9.375em;
	background: rgba(255, 255, 255, 0.8);
	border: thin solid #b2b2b2;
	border-left: none;
	border-radius: 0.3125rem;
}

/* Input Range Thumb */
[type='range' i]::-moz-range-thumb {
	height: 0.81rem;
	width: 0.81rem;
	background: #0075ff;
	border-radius: 50%;
	border: thin solid #0075ff;
	// box-shadow: 0 0 0.125rem 0 #0075ff;
}

/* Input Range Progress */
[type='range' i]::-moz-range-progress {
	height: 0.43em;
	background: #0075ff;
	border-radius: 3.125rem;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	box-sizing: border-box;
	border: thin solid #3b75ba;
}

/**
 * Styling progress bar in all browsers (opinionated).
 */

progress {
	border-width: 0;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.9375rem;
	appearance: none;
	accent-color: #0075ff;
}

progress::-webkit-progress-bar {
	border-radius: 0.9375rem;
	background-color: rgba(255, 255, 255, 0.8);
}

progress::-moz-progress-bar {
	background-color: #0075ff;
	border-radius: 0.9375rem;
}

progress::-webkit-progress-value {
	background-color: #0075ff;
	border-radius: 0.9375rem;
}

/**
 * Styling color input in all browsers (opinionated).
 */

[type='color'] {
	background-color: transparent;
	width: 6em;
}

[type='color']::-webkit-color-swatch {
	border-style: none;
	border-radius: 0.9375rem;
	height: 2em;
	box-sizing: border-box;
}

[type='color']::-moz-color-swatch {
	border-style: none;
	border-radius: 0.9375rem;
	height: 2em;
	box-sizing: border-box;
	margin-top: 0.1875rem;
}

/**
 * Styling checkbox and radio input in all browsers (opinionated).
 */

[type='checkbox' i],
[type='radio' i] {
	accent-color: #0060df;
	height: 1em;
	width: 1em;
}

/**
 * Styling input file in all browsers (opinionated).
 */

[type='file' i]::file-selector-button {
	background-color: #f0f0f0;
	border: thin solid #8f8f9d;
	border-radius: 0.1875rem;
	padding: 0.09em 1em;
	letter-spacing: inherit;
	line-height: inherit;
	color: inherit;
	font: inherit;
}

/**
 * Styling textarea in webkit browsers (opinionated).
 */

textarea::-webkit-resizer {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Svg Vector Icons : http://www.onlinewebfonts.com/icon --%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3e%3cmetadata%3e Svg Vector Icons : http://www.onlinewebfonts.com/icon %3c/metadata%3e%3cg%3e%3cpath d='M796.8,990L990,796.8v-82.9L713.9,990H796.8z'/%3e%3cpath d='M444.9,990L990,444.9v-82.9L361.9,990H444.9z'/%3e%3cpath d='M10,990h82.9L990,92.9V10L10,990z'/%3e%3c/g%3e%3c/svg%3e")
		#fff no-repeat right bottom / 0.5rem;
}
