/* stylelint-disable declaration-no-important */

/* ____________________________________________ */
/* ________________Effects_____________________ */
/* ____________________________________________ */
/* :Pseudo-classes & ::Pseudo-elements

/* ____________________________________________ */
/* Image scale :Hover */
:where(img, svg, picture),
[data-img-hover] {
	overflow: hidden;
	transition: all 0.4s ease-in-out 0.01s;

	@media (any-hover: hover) {
		&:is(:focus-visible, :hover) {
			transform: scale(1.05);
		}
	}

	&:active {
		transform: scale(1);
	}
}

/* ____________________________________________ */
/* Small SVG :Hover */

a:not([class*="__logo"]) img,
[data-svg-hover] {
	overflow: hidden;
	transition: filter 0.4s ease-in-out 0.01s, transform 0.4s ease-in-out 0.01s;

	@media (any-hover: hover) {
		&:is(:focus-visible, :hover) {
			filter: invert(77%) sepia(21%) saturate(602%) hue-rotate(9deg) brightness(97%) contrast(90%);
			transform: scale(1.1);
		}
	}

	&:active {
		transform: scale(1);
	}
}

/* ____________________________________________ */
/* Simple link :Hover */
a,
[data-link-hover] {
	transition: color 0.3s ease-in-out 0.01s;

	@media (any-hover: hover) {
		&:is(:focus-visible, :hover) {
			color: var(--clr-hover);
		}
	}

	&:active {
		color: var(--clr-active);
	}
}

/* ____________________________________________ */
/* Simple Button :Hover */
[type="button"],
[type="reset"],
[type="submit"],
[type="file"]::file-selector-button,
[data-button-hover] {
	transform: scale(1);
	transition: box-shadow 0.5s linear, border-color 0.5s linear, transform 0.1s ease-in-out,
		background-color 0.2s linear, color 0.2s linear;

	@media (any-hover: hover) {
		&:is(:focus-visible, :hover) {
			border-color: transparent;
			box-shadow: 0 0 0.625rem var(--clr-hover);
			color: #fff;
			background-color: var(--clr-hover);
			transform: scale(1.01);
			animation: fade-in 0.2s ease-in-out 0.01s;
		}
	}

	&:active {
		box-shadow: 0 0 0.625rem var(--clr-active);
		background-color: var(--clr-active);
		transform: scale(0.97);
	}
}

/* ____________________________________________ */
/* Input|Select|Textarea|Summary| :Hover */
select,
textarea,
summary,
input:not(
		[type="button"],
		[type="reset"],
		[type="submit"],
		[type="range"],
		[type="color"],
		[type="radio"],
		[type="checkbox"],
		[type="file"]
	),
[data-input-hover] {
	transition: border-color 0.3s ease-in-out 0.02s, box-shadow 0.3s ease-in-out 0.02s, background 0s;

	@media (any-hover: hover) {
		&:is(:focus-visible, :hover) {
			border-color: transparent;
			box-shadow: 0 0 0 0.0625rem var(--clr-hover), 0 0 0.625rem var(--clr-hover);
		}
	}
}

/* ____________________________________________ */
/* Input Validation */
input[type="text"]:valid,
input[type="password"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid {
	border-color: transparent;
	box-shadow: 0 0 0 0.0625rem #adff2f, 0 0 0.625rem #adff2f !important;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid {
	transition: 0.3s ease-in-out;

	&:focus {
		border-color: transparent;
		box-shadow: 0 0 0 0.0625rem #ffa500, 0 0 0.625rem #ffa500;
	}
}

input[type="text"]:not(:focus):invalid,
input[type="password"]:not(:focus):invalid,
input[type="email"]:not(:focus):invalid,
input[type="tel"]:not(:focus):invalid {
	transition: 0.3s ease-in-out;

	&:focus {
		border-color: transparent;
	}
}

/* Input Bg-color AutoFill */
input {
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-text-fill-color: inherit !important;
		transition: background-color 5000s ease-in-out 0s;
	}
}

/* ____________________________________________ */
/* Text Selection */
::selection {
	text-shadow: 0 0 0.625rem #000;
	color: #fff;
	background-color: #4682b4;
}

/* ____________________________________________ */
/* _______________Animation____________________ */
/* ____________________________________________ */
@keyframes fade-in {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* ____________________________________________ */
/* _________Draw Underline Link :Hover_________ */
/* ____________________________________________ */
.nav__li-link,
[data-link-center],
[data-link-left],
[data-link-right],
[data-link-bottom] {
	position: relative;
	padding: 0 5px;
	transition: transform 0.4s ease-in-out 0.01s, color 0.2s ease-in-out;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -3px;
		width: 100%;
		height: 0.0625rem;
		background-color: var(--clr-hover);
		transition: transform 0.4s ease-in-out 0.005s, color 0.3s ease-in-out 0.01s;

		@media (max-width: $burger-breakpoint) {
			display: none;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--clr-hover);

			&::after {
				transform: scale(1, 1) translateY(0); // change
			}
		}
	}

	&:active {
		z-index: 2;
		color: var(--clr-active);

		&::after {
			z-index: 1;
			background-color: var(--clr-active);
		}
	}
}

/* Center line */
.nav__li-link,
[data-link-center] {
	&::after {
		transform: scale(0, 1) translateY(0.5px); // change
	}
}

/* Left line */
[data-link-left] {
	&::after {
		transform: scale(0, 1);
		transform-origin: 0% 100%; // change
	}
}

/* Right line */
[data-link-right] {
	&::after {
		transform: scale(0, 1);
		transform-origin: 100% 0%; // change
	}
}

/* Bottom line */
[data-link-bottom] {
	&::after {
		transform: translateY(3px); // change
	}
}

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
