/* thin, extralight, light, medium, normal, sembold, bold, extrabold, black */
/* (100-thin) 200 to 900 (400-normal)*/

@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('../fonts/Inter-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('../fonts/Inter-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('../fonts/Inter-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('../fonts/Inter-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('../fonts/Inter-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('../fonts/Inter-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('../fonts/Inter-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	font-display: swap;
	src: url('../fonts/Inter-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
