/* =========================Global======================================== */
/* Sticky Footer & Container */
div#wrappar {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100%;
	overflow: hidden; /* если используете на сайте position: sticky - уберите эту настройку */
}

main.main {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 0 auto;
}

div.container {
	margin-inline: auto;
	padding-inline: clamp(10px, 1.5vw, var(--container-offset)); /* 10px - 15px */
	width: min(100%, var(--container-width));

	@media (max-width: $breakpoint-1450) {
		max-width: 1320px;
	}

	@media (max-width: $breakpoint-1200) {
		max-width: 1140px;
	}

	@media (max-width: $breakpoint-992) {
		max-width: 960px;
	}

	@media (max-width: $breakpoint-768) {
		max-width: 720px;
	}

	@media (max-width: $breakpoint-576) {
		max-width: 540px;
	}

	@media (max-width: $breakpoint-480) {
		max-width: none;
	}
}

/* ========================Animation======================================== */
/* Opacity */
@keyframes fade {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

/* =======================Utility Classes=================================== */
/* Float clearfix */
div.clearfix::after {
	content: '';
	display: block;
	clear: both;
	/* Or  display: flow-root; */
}

/* Nowrap */
.nowrap {
	white-space: nowrap;
}

/* Text-Center */
.center {
	text-align: center;
}

/* Offscreen */
.offscreen {
	position: absolute;
	left: -10000px;
}

/* Visually-Hidden */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn-reset {
	background-color: transparent;
	border-width: 0;
	padding: 0;
}

/* ======================================================================== */
/* Gradient */
.body {
	// background: linear-gradient(to top, #eee, #4682b4) no-repeat fixed;
	background: radial-gradient(#eee, #4682b4) no-repeat fixed;
}

/* Background Image */
// .css-img {
// 	background-image: url();
// 	background-repeat: no-repeat;
// 	background-attachment: fixed;
// 	background-position: center;
// 	background-size: cover;
// }

/* ======================================================================== */
/* ======================================================================== */
