/* stylelint-disable declaration-no-important */
/* _________________Global_____________________ */

/* fs: (100% * 1px / 16px = "6.25%" це | 1rem = 1px) */
/* fs: (1000% * 1px / 16px = "62.5%" це | 20rem = 200px) */
/* lh: 24px / 16px = "1.5" */

/* ____________________________________________ */
/* _________________General____________________ */
/* ____________________________________________ */
html {
	scroll-behavior: smooth;
	color-scheme: light;
	scroll-padding-top: var(--scroll-padding, 50px);

	&.lock {
		scroll-behavior: auto;
		scrollbar-gutter: stable;
	}
}

body {
	font-family: var(--ff-primary);
	font-weight: var(--fw-body);
	font-size: var(--fs-body);
	color: var(--clr-body);
	caret-color: var(--clr-caret);
	background-color: var(--clr-body-bg);
	accent-color: var(--clr-accent);

	&.lock {
		overflow: hidden;
	}

	&.lock-fixed {
		position: fixed;
		inset: 0;
		overflow: hidden;
		width: 100%;
		height: 100vh;
	}
}

/* ____________________________________________ */
/* _____________Sticky Footer__________________ */
/* ____________________________________________ */
div#body-wrappar {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	overflow: clip; /* если используете на сайте position: sticky - используйте clip; вместо hidden */
	min-height: 100vh; /* stylelint-disable-line declaration-block-no-duplicate-properties */
	min-height: 100dvh; /* stylelint-disable-line declaration-block-no-duplicate-properties */
	min-height: 100svh; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

main.main {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
}

/* ____________________________________________ */
/* _________________Container__________________ */
/* ____________________________________________ */
div.container,
[class*="__container"] {
	margin-inline: auto;
	padding-inline: clamp(10px, 1.5vw, var(--container-padding)); /* 10px - 15px */
	width: min(100%, var(--container-width));

	@media (max-width: $breakpoint-1450) {
		max-width: 1320px;
	}

	@media (max-width: $breakpoint-1200) {
		max-width: 1140px;
	}

	@media (max-width: $breakpoint-992) {
		max-width: 960px;
	}

	@media (max-width: $breakpoint-768) {
		max-width: 720px;
	}

	@media (max-width: $breakpoint-576) {
		max-width: 540px;
	}

	@media (max-width: $breakpoint-480) {
		max-width: none;
	}
}

/* ____________________________________________ */
/* ________ScrollBar(Select,Textarea)__________ */
/* ____________________________________________ */
* {
	scrollbar-color: var(--clr-scrollbar, #777) transparent;
	scrollbar-width: thin;

	::-webkit-scrollbar {
		width: 0.46em;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--clr-scrollbar, #777);
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

/* ____________________________________________ */
/* ____________ScrollBar(Page)_________________ */
/* ____________________________________________ */
html {
	scrollbar-color: var(--clr-scrollbar, #777) var(--clr-scrollbar-bg, #1c1c1c);
	scrollbar-width: auto;
}

body::-webkit-scrollbar {
	width: 17px;
}

body::-webkit-scrollbar-thumb {
	border: 5px solid transparent;
	border-radius: 10px;
	background-clip: content-box;
	background-color: var(--clr-scrollbar, #777);

	&:hover {
		background-color: var(--clr-scrollbar-hover, #666);
	}

	&:active {
		background-color: var(--clr-scrollbar-active, #555);
	}
}

body::-webkit-scrollbar-track {
	background-color: var(--clr-scrollbar-bg, #1c1c1c);
}

/* ____________________________________________ */
/* _____________Reduced Motion_________________ */
/* ____________________________________________ */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		background-attachment: initial !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
		animation-duration: 1ms !important;
		animation-delay: -1ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}

/* ____________________________________________ */
/* _____________Utility Classes________________ */
/* ____________________________________________ */
/* Float clearfix */
div.clearfix::after {
	content: "";
	display: block;
	clear: both;

	// Or display: flow-root;
}

/* Text-Ellipsis */
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Align-Center */
.align-center {
	vertical-align: middle;
	text-align: center;
}

/* Off-Screen */
.offscreen {
	position: absolute;
	left: -200%;
}

/* Button-Reset */
.btn-reset {
	border-width: 0;
	padding: 0;
	background-color: transparent;
}

/* Semantically: Visible */
.visually-hidden {
	position: absolute;
	clip-path: inset(100%);
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	white-space: nowrap;
	pointer-events: none;
	clip: rect(0 0 0 0);
}

/* Completely-Hidden */
.hidden {
	display: none !important;
}

/* Text-NoWrap */
.nowrap {
	white-space: nowrap;
}

/* Flex */
.flex {
	display: flex;
	gap: 1rem;
}

/* Grid */
.grid {
	display: grid;
	gap: 1rem;
}

/* Add basic space everywhere (to container) */
div.flow-space > * + * {
	margin-top: var(--flow-space, 1em);
}

/* ____________________________________________ */
/* Console.Log */
// * {
// 	outline: 1px solid #32cd32 !important;
// 	background: rgb(0 100 0 / 10%);
// }

// :not(img, svg, picture, iframe, input, video, select, textarea, details, dialog, hr, br):empty {
// 	display: none;
// }

/* ____________________________________________ */
/* ______________Global Styles_________________ */
/* ____________________________________________ */
/* editor.scrollBeyondLastLine */
footer {
	margin-bottom: 50ch;
}

/* main background */
.main {
	background: linear-gradient(to right, #eee, #014482) no-repeat;
}
