/* =========================Global======================================== */
/* ScrollBar */
html {
	scroll-behavior: smooth;
	scrollbar-color: #777 #1c1c1c;
}

::-webkit-scrollbar {
	width: 18px;
}
::-webkit-scrollbar-thumb {
	background-color: #777;
	border-radius: 10px;
	border: 5px solid transparent;
	background-clip: content-box;
}
::-webkit-scrollbar-track {
	background-color: #1c1c1c;
}

/* =======================Utility Classes=================================== */
/* Float clearfix */
div.clearfix::after {
	content: '';
	display: block;
	clear: both;
	/* or display: flow-root; */
}

/* Linear-Gradient */
.gradient {
	background: linear-gradient(to top, #eee, skyblue);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Background Image */
.css-img {
	/* background-image: url(); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/* Animation */
@keyframes fade {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

/* Flex */
.flex {
	display: flex;
	flex-wrap: wrap;
}

/* Nowrap */
.nowrap {
	white-space: nowrap;
}

/* Offscreen */
.offscreen {
	position: absolute;
	left: -10000px;
}

/* ======================================================================== */
html {
	font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		system-ui, Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.58;
	font-size: 16px; /* (100% * 1px / 16px = 6.25% | 1rem = 1px) */
}

body {
	font-size: 1rem;
	font-weight: 400;
	font-style: normal;
	color: var(--color);
	background: var(--bgcolor);
	min-width: 320px;
	overflow-x: hidden;
	overflow-anchor: none;
	break-inside: avoid-column;
}

header {
	top: 0;
}

footer {
	bottom: 0;
}

/* ul, ol markers */
::marker {
	color: #000;
	/* content: ''; */
}

button:hover,
button:focus-visible {
	border-color: transparent;
	background-color: #ff4500;
	box-shadow: 0 0 4px #ff4500;
	animation: fade 1.2s ease;
}

input[type='checkbox']:hover,
[type='radio']:hover {
	box-shadow: none;
}

input:is([type='button']:hover, [type='button']:focus-visible),
input:is([type='reset']:hover, [type='reset']:focus-visible),
input:is([type='submit']:hover, [type='submit']:focus-visible) {
	background-color: #ff4500;
	box-shadow: 0 0 4px #ff4500;
	animation: fade 0.9s ease;
}

input:hover,
input:focus-visible,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
	border: 0.05rem solid #ff4500;
	box-shadow: 0 0 4px #ff4500;
	transition: 0.5s ease;
}

/* ======================================================================== */
/* ======================================================================== */
