.header {
	background-color: #000;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.logo {
	background-color: #fff;
	border-radius: 30%;
	padding: 5px;
	text-decoration: none;
}

/* ================================================== */
body.lock {
	overflow: hidden;
}

.menu-button {
	display: none;
}

@media (max-width: 768px) {
	.menu-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 18px;
		position: relative;
		z-index: 1;
	}

	.menu-icon,
	.menu-icon::before,
	.menu-icon::after {
		display: inline-block;
		background-color: whitesmoke;
		width: 100%;
		height: 3px;
		border-radius: 5px;
		position: absolute;
		transition: all 0.3s ease-in-out;
	}

	.menu-icon::before,
	.menu-icon::after {
		content: '';
	}

	.menu-icon::before {
		transform: translate(-15px, 12px);
	}

	.menu-icon::after {
		transform: translate(-15px, -12px);
	}

	.menu-button.active .menu-icon {
		background-color: transparent;
		transform: rotate(360deg);
	}

	.menu-button.active .menu-icon::before {
		transform: translateX(-15px) rotate(45deg);
	}

	.menu-button.active .menu-icon::after {
		transform: translateX(-15px) rotate(-45deg);
	}
}

.navbar.active {
	left: 0;
}

.nav {
	display: flex;
	gap: 30px;
}

.nav__li-link {
	color: #fff;
}

.nav__li-link:is(:hover, :focus-visible) {
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
	.navbar {
		position: absolute;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		transition: all 0.2s;
	}

	.nav {
		flex-direction: column;
		padding: 30px;
		gap: 0;
		height: 100%;
		width: 60%;
		background-color: #f15412;
		overflow: auto;
	}

	.nav__li-link {
		display: block;
		font-size: 30px;
		line-height: 70px;
	}
}
