header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

main {
	margin-top: 5.2rem;
}

/* ____________________________________________ */
.header {
	background-color: #1e1e1e;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.header__logo {
	background-color: #34b3f1;
	border-radius: 30%;
	padding: 5px;
	max-width: 200px;
}

/* ____________________________________________ */
.navbar.active {
	left: 0;
}

.nav {
	display: flex;
	gap: 30px;
}

.nav__li-link {
	color: #fff;
}

/* Hover & focus-visible*/
.nav__li-link:is(:hover, :focus-visible) {
	transform: translateX(3%) scale(1.1);
	transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
	.navbar {
		position: absolute;
		top: 0;
		left: -100%;
		height: calc(100vh + 2px);
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		transition: left 0.2s;
		z-index: 1;
	}

	.nav {
		flex-direction: column;
		padding: 30px;
		gap: 0;
		height: 100%;
		width: 60%;
		background-color: #f15412;
		overflow-y: auto;
	}

	.nav__li-link {
		display: inline-block;
		font-size: clamp(1.563rem, 1.339rem + 1.12vw, 1.875rem); /* 30px */
		line-height: 2.33; /* 70px */
	}
}

/* ____________________________________________ */
.menu-button {
	display: none;
}

@media (max-width: 768px) {
	.menu-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 18px;
		position: relative;
		z-index: 1;
	}

	.menu-icon,
	.menu-icon::before,
	.menu-icon::after {
		display: inline-block;
		background-color: whitesmoke;
		width: 100%;
		height: 3px;
		border-radius: 5px;
		position: absolute;
		transition: all 0.3s ease-in-out;
	}

	.menu-icon::before,
	.menu-icon::after {
		content: '';
	}

	.menu-icon::before {
		transform: translate(-15px, 12px);
	}

	.menu-icon::after {
		transform: translate(-15px, -12px);
	}

	.menu-button.active .menu-icon {
		background-color: transparent;
		transform: rotate(360deg);
	}

	.menu-button.active .menu-icon::before {
		transform: translateX(-15px) rotate(45deg);
	}

	.menu-button.active .menu-icon::after {
		transform: translateX(-15px) rotate(-45deg);
	}
}

/* ____________________________________________ */
