/* stylelint-disable */
/* ____________________________________________ */
/* 100-thin, 200-extralight, 300-light, 400-normal, 500-medium, 600-sembold, 700-bold, 800-extrabold, 900-black */

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
// @font-face {
// 	font-family: "fontName";
// 	font-weight: 400;
// 	font-style: normal;
// 	src: local(""), url("../font/*.woff2") format("woff2");
// 	font-display: swap;
// }

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
/* Disable mobile hover */
@mixin disable-mobile-hover {
	@media (any-hover: hover) {
		&:hover,
		&:focus-visible {
			@content;
		}
	}
}

// @include disable-mobile-hover {
// 	background-color: var(--accent-color);
// }

/* ____________________________________________ */
/* BREAKPOINT */
@mixin DesktopXL {
	@media (max-width: $breakpoint-1450) {
		@content;
	}
}

// @include DesktopXL {
// 	font-size: 22px;
// }

/* ____________________________________________ */
/* ____________________________________________ */
/* ____________________________________________ */
/* Text-Ellipsis */
@mixin text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

// @include text-ellipsis;

/* ____________________________________________ */
/* Align-Center */
@mixin align-center {
	vertical-align: middle;
	text-align: center;
}

// @include align-center;

/* ____________________________________________ */
/* Off-Screen */
@mixin offscreen {
	position: absolute;
	left: -200%;
}

// @include offscreen;

/* ____________________________________________ */
/* List-Reset */
@mixin list-reset {
	list-style: none inside;
	margin: 0;
	padding: 0;
}

// @include list-reset;

/* ____________________________________________ */
/* List-Reset */
@mixin btn-reset {
	border-width: 0;
	padding: 0;
	background-color: transparent;
}

// @include btn-reset;

/* ____________________________________________ */
/* Input-Reset */
@mixin input-reset {
	border-width: 0;
	padding: 0;
	background-color: transparent;

	&::-ms-clear,
	&::-ms-reveal {
		display: none;
	}

	&::-webkit-inner-spin-button,
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		appearance: none;
	}
}

// @include input-reset;

/* ____________________________________________ */
/* Semantically: Visible */
@mixin visually-hidden {
	position: absolute;
	clip-path: inset(100%);
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	white-space: nowrap;
	pointer-events: none;
	clip: rect(0 0 0 0);
}

// @include visually-hidden;
