/* stylelint-disable declaration-no-important */
/* ____________________________________________ */
/* elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e */
/* https://www.youtube.com/shorts/2lyDv0wOQuQ --------- */
/* About container -> https://habr.com/ru/post/463923/ */

/* ____________________________________________ */
/* ______________|all: unset;|_________________ */
/* ____________________________________________ */
html {
	break-inside: avoid-column;
	overflow-anchor: none;
	box-sizing: border-box;
	background-repeat: no-repeat;
	scroll-behavior: smooth;
	color-scheme: light dark;
}

*,
*::before,
*::after {
	break-inside: inherit;
	overflow-anchor: inherit;
	min-width: 0;
	box-sizing: inherit;
	background-repeat: inherit;
}

body {
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizespeed;
}

/* ____________________________________________ */
/* Typography */
code,
kbd,
samp,
pre {
	font-family: ui-monospace, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono",
		"Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

/* Add typography inheritance */
:where(button, input, select, textarea, optgroup, option),
::placeholder,
::file-selector-button {
	font: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
}

/* ____________________________________________ */
/* Outline | Tabs */
:where(
		a,
		button,
		summary,
		[type="button"],
		[type="reset"],
		[type="submit"],
		[type="range"],
		[type="color"],
		[type="radio"],
		[type="checkbox"]
	) {
	&:focus-visible {
		outline: 0.125rem solid var(--clr-accent);
	}
}

:where(
		select,
		textarea,
		input:not(
				[type="button"],
				[type="reset"],
				[type="submit"],
				[type="range"],
				[type="color"],
				[type="radio"],
				[type="checkbox"]
			)
	),
[type="file"]::file-selector-button {
	outline-color: transparent;

	&:focus {
		outline: 0.125rem solid transparent;
	}
}

:where([type="file"]) {
	outline: none;
}

:where(
		summary,
		button,
		input:not([type="checkbox"], [type="radio"], [type="color"]),
		select,
		textarea
	) {
	outline-offset: 0.25rem;
}

:where([type="checkbox"], [type="radio"]) {
	outline-offset: 0.0625rem;
}

/* ____________________________________________ */
/* Images */
:where(img, svg, picture) {
	vertical-align: middle;
	object-fit: cover;
}

:where(img, svg, picture, iframe, input, video, select, textarea, details, dialog) {
	height: auto;
	max-width: 100%;
}

/* ____________________________________________ */
/* Lists */
:where(ul, ol, dl) {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

::marker {
	color: inherit;
}

/* ____________________________________________ */
/* Headers */
:where(h1, h2, h3, h4, h5, h6) {
	margin: 0;
	font-weight: var(--fw-h, 700);
	line-height: 1.3;
	text-wrap: balance;
}

:where(h1) {
	font-size: var(--fs-h1, 32px);
}

:where(h2) {
	font-size: var(--fs-h2, 24px);
}

:where(h3, h4, h5, h6) {
	font-size: var(--fs-h3-6, 18.72px);
}

/* ____________________________________________ */
:where(form) {
	cursor: default;
}

:where(button) {
	border-width: 0;
	padding: 0;
	background-color: transparent;
}

:where(a) {
	text-decoration: none;
	color: inherit;
	text-decoration-skip-ink: none;
	text-underline-offset: 0.25em;
}

:where(p) {
	margin: 0;
	text-wrap: balance;
}

:where(body, figure) {
	margin: 0;
}

:where(cite, address) {
	font-style: normal;
}

:where(fieldset) {
	margin: 0;
	border-width: 0;
	padding: 0;
}

/* ____________________________________________ */
/* Add cursor pointer */
:where(
		a,
		label,
		button,
		summary,
		[type="button"],
		[type="reset"],
		[type="submit"],
		[type="range"],
		[type="color"],
		[type="checkbox"],
		[type="radio"]
	),
dialog::backdrop,
[popover]::backdrop,
[type="file"]::file-selector-button,
[type="number"]::-webkit-inner-spin-button,
[type="search"]::-webkit-search-cancel-button,
[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
}
