/* -------- elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e --------- */
/* -------- https://www.youtube.com/shorts/2lyDv0wOQuQ --------- */
/*  About container -> https://habr.com/ru/post/463923/ */

/* ____________________Reset & Typography________________________ */

html {
	font-family: var(--font-family), system-ui, -apple-system, 'Segoe UI',
		'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, 'Menlo', 'Consolas', 'Roboto Mono',
		'Ubuntu Monospace', 'Noto Mono', 'Oxygen Mono', 'Liberation Mono', monospace,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* ____________________________________________ */
/* ScrollBar for Wibesite*/
html {
	scrollbar-color: var(--scrollbar-color) var(--scrollbar-bgcolor);
}

::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
	border-radius: 10px;
	border: 5px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bgcolor);
}

/* ScrollBar for Select and Textarea */
select,
textarea {
	scrollbar-color: var(--scrollbar-color) transparent;
	scrollbar-width: thin;
}

select::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	width: 17px;
}

select::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
	background-color: transparent;
}

/* ____________________General________________________ */
html {
	background-repeat: no-repeat;
	break-inside: avoid-column;
	text-overflow: ellipsis;
	box-sizing: border-box;
	overflow-anchor: none;
}

*,
*::before,
*::after {
	background-repeat: inherit;
	overflow-anchor: inherit;
	text-overflow: inherit;
	break-inside: inherit;
	box-sizing: inherit;
	margin-top: 0;
}

:where(a) {
	color: inherit;
	text-decoration: none;
}

:where(button) {
	background-color: transparent;
	border-width: 0;
	padding: 0;
}

:where(
		input:not(
				[type='button'],
				[type='reset'],
				[type='submit'],
				[type='checkbox'],
				[type='radio'],
				[type='range'],
				[type='color']
			),
		select,
		textarea
	) {
	outline-color: transparent;
}

:where(button, input, select, textarea, optgroup) {
	letter-spacing: inherit;
	line-height: inherit;
	color: inherit;
	font: inherit;
}

:where(img, svg) {
	object-fit: cover;
}

:where(iframe, picture, img, svg, input, video, select, textarea) {
	max-width: 100%;
	height: auto;
}

:where(ul, ol, dl) {
	list-style-position: inside;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
}

:where(body, p, figure) {
	margin: 0;
}

:where(cite, address) {
	font-style: normal;
}

:where(fieldset) {
	border-width: 0;
	padding: 0;
	margin: 0;
}

:where(form) {
	cursor: default;
}

:where(textarea, [type='checkbox'], [type='radio']) {
	vertical-align: middle;
}

a,
label,
button,
summary,
dialog::backdrop,
[type='button'],
[type='reset'],
[type='submit'],
[type='checkbox'],
[type='radio'],
[type='range'],
[type='color'],
[type='file']::file-selector-button,
[type='number']::-webkit-inner-spin-button,
[type='search']::-webkit-search-cancel-button,
[type='date']::-webkit-calendar-picker-indicator {
	cursor: pointer;
}
