/* -------- elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e --------- */
/* -------- https://www.youtube.com/shorts/2lyDv0wOQuQ --------- */
/*  About container -> https://habr.com/ru/post/463923/ */

/* ____________________Reset & Typography________________________ */

html {
	font-family:
		var(--font-family),
		system-ui,
		-apple-system,
		"Segoe UI",
		"Roboto",
		"Ubuntu",
		"Cantarell",
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
}

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		"Menlo",
		"Consolas",
		"Roboto Mono",
		"Ubuntu Monospace",
		"Noto Mono",
		"Oxygen Mono",
		"Liberation Mono",
		monospace,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ____________________________________________ */
/* ScrollBar for Wibesite */
html {
	scrollbar-color: var(--scrollbar-color) var(--scrollbar-bgcolor);
	scrollbar-width: auto;
}

body::-webkit-scrollbar {
	/* width: 18px; */
	width: 11px;
}

::-webkit-scrollbar-thumb {
	/* 	border: 5px solid transparent;
	border-radius: 10px;
	background-clip: content-box; */
	background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
	background-color: darken(#777, 10%);
}

body::-webkit-scrollbar-thumb:active {
	background-color: darken(#777, 20%);
}

body::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bgcolor);
}

/* ScrollBar for Select and Textarea and etc. */
* {
	scrollbar-color: var(--scrollbar-color) transparent;
	scrollbar-width: thin;

	::-webkit-scrollbar {
		width: 0.5em;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

/* ____________________General________________________ */
html {
	break-inside: avoid-column;
	overflow-anchor: none;
	box-sizing: border-box;
	background-repeat: no-repeat;
}

*,
*::before,
*::after {
	break-inside: inherit;
	overflow-anchor: inherit;
	margin-top: 0;
	min-width: 0;
	box-sizing: inherit;
	background-repeat: inherit;
}

:where(a) {
	text-decoration: none;
	color: inherit;
}

:where(button) {
	border-width: 0;
	padding: 0;
	background-color: transparent;
}

:where(
input:not(
	[type="button"],
	[type="reset"],
	[type="submit"],
	[type="checkbox"],
	[type="radio"],
	[type="range"],
	[type="color"]),
	select,
	textarea) {
	outline-color: transparent;
}

:where([type="file"]) {
	outline-color: none;
}

:where(
button,
input:not([type="checkbox"],[type="radio"],[type="color"]),
select,
textarea,
summary) {
	outline-offset: 0.1875rem;
}

:where([type="checkbox"],[type="radio"],[type="color"]) {
	outline-offset: 0.0625rem;
}

:where(button, input, select, textarea, optgroup, option) {
	font: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
}

:where(img, svg, picture) {
	align-self: center;
	object-fit: cover;
}

:where(iframe, picture, img, svg, input, video, select, textarea, summary, dialog) {
	height: auto;
	max-width: 100%;
}

:where(ul, ol, dl) {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

::marker {
	// content: '';
	color: inherit;
}

:where(h1, h2, h3, h4, h5, h6) {
	margin: 0;
	font-weight: inherit;
	font-size: inherit;
}

:where(body, p, figure) {
	margin: 0;
}

:where(cite, address) {
	font-style: normal;
}

:where(fieldset) {
	margin: 0;
	border-width: 0;
	padding: 0;
}

:where(form) {
	cursor: default;
}

:where(textarea, [type="checkbox"], [type="radio"]) {
	vertical-align: middle;
}

:where(
a,
label,
button,
summary,
[type="button"],
[type="reset"],
[type="submit"],
[type="checkbox"],
[type="radio"],
[type="range"],
[type="color"]),
dialog::backdrop,
[type="file"]::file-selector-button,
[type="number"]::-webkit-inner-spin-button,
[type="search"]::-webkit-search-cancel-button,
[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
}
