/* Variables */
:root {
	/* COLOR */
	--bgcolor: whitesmoke;
	--color: #222;
	--header-bgcolor: #ccc;
	--header-color: #222;

	/* BREAKPOINT */
	--breakpoint-1400: 1400px; /* Desktop */
	--breakpoint-1200: 1200px; /* Desktop */
	--breakpoint-992: 992px; /* Laptop */
	--breakpoint-768: 768px; /* Tablet */
	--breakpoint-576: 576px; /* Mobile */
	--breakpoint-480: 480px; /* Mobile */
	--breakpoint-320: 320px; /* Old-Mobile */

	/* FONT */
	--font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		system-ui, Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif;

	/* GENERAL */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	:root {
		--bgcolor: #222;
		--color: whitesmoke;
	}
}
