/* ____________________Variables________________________ */
/* 100-thin, 200-extralight, 300-light, 400-normal, 500-medium,  600-sembold, 700-bold, 800-extrabold, 900-black */

:root {
	/* ____________________________________________ */
	/* CONTAINER */
	--content-width: 1200px; /* 1200+30=1230 */
	--container-offset: 15px; /* 15*2 Left-Right = 30 */
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	/* ____________________________________________ */
	/* CSS BREAKPOINT  */
	--breakpoint-1450: 1449.98 + px; /* Desktop XL */
	--breakpoint-1200: 1199.98 + px; /* Desktop */
	--breakpoint-992: 991.98 + px; /* Laptop */
	--breakpoint-768: 767.98 + px; /* Tablet */
	--breakpoint-576: 575.98 + px; /* Mobile */
	--breakpoint-480: 479.98 + px; /* Small-Mobile */
	--breakpoint-320: 319.98 + px; /* Old-Mobile */

	/* ____________________________________________ */
	/* FONT */
	--font-family: "Nunito";

	// --second-ffamily: "Poppins", sans-serif;
	// --third-ffamily: "Poppins", sans-serif;
	// --fourth-ffamily: "Poppins", sans-serif;

	/* ____________________________________________ */
	/* COLOR */
	--scrollbar-color: #777;
	--scrollbar-bgcolor: #1c1c1c;
	--burger-btn: #f5f5f5;
	--burger-bgcolor: #4682b4;
	--accent-color: #4682b4;
	--active-color: #700c0c;
	--link-color: #f15412;
	--text-color: #1e1e1e;
	--bg-color: #4682b4;
	--header-color: #fff;
	--header-bgcolor: #1e1e1e;
	--form-bgcolor: #fff;
}

/* ____________________________________________ */
/* Dark Mode */
@media (prefers-color-scheme: dark) {
	:root {
		--scrollbar-color: #777;
		--scrollbar-bgcolor: #1c1c1c;
		--bg-color: #4682b4;
		--text-color: #1e1e1e;
		--accent-color: #4682b4;
		--form-bgcolor: #fff;
	}
}

/* ____________________________________________ */
/* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		background-attachment: initial !important;/* stylelint-disable-line declaration-no-important */
		transition-duration: 0s !important;				/* stylelint-disable-line declaration-no-important */
		transition-delay: 0s !important;					/* stylelint-disable-line declaration-no-important */
		animation-duration: 1ms !important;				/* stylelint-disable-line declaration-no-important */
		animation-delay: -1ms !important;					/* stylelint-disable-line declaration-no-important */
		animation-iteration-count: 1 !important;	/* stylelint-disable-line declaration-no-important */
		scroll-behavior: auto !important;					/* stylelint-disable-line declaration-no-important */
	}
}

/* ____________________________________________ */
/* SCSS BREAKPOINT */
$breakpoint-1450: 1449.98 + px;
$breakpoint-1200: 1199.98 + px;
$breakpoint-992: 991.98 + px;
$breakpoint-768: 767.98 + px;
$breakpoint-576: 575.98 + px;
$breakpoint-480: 479.98 + px;
$breakpoint-320: 319.98 + px;
