/* ____________________Variables________________________ */
:root {
	/* CONTAINER */
	--content-width: 73.125rem; /* 1770+15+15=1800 */
	--container-offset: 0.9375rem; /* 15*2 Left-Right = 30 */
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	/* CSS BREAKPOINT  */
	--breakpoint-1450: 1449.98 + px; /* Desktop XL */
	--breakpoint-1200: 1199.98 + px; /* Desktop */
	--breakpoint-992: 991.98 + px; /* Laptop */
	--breakpoint-768: 767.98 + px; /* Tablet */
	--breakpoint-576: 575.98 + px; /* Mobile */
	--breakpoint-480: 479.98 + px; /* Small-Mobile */
	--breakpoint-320: 319.98 + px; /* Old-Mobile */

	/* FONT */
	--font-family: 'Nunito';

	/* COLOR */
	--scrollbar-color: #777;
	--scrollbar-bgcolor: #1c1c1c;
	--bg-color: #4682b4;
	--text-color: #1e1e1e;
	--accent-color: #4682b4;
	--form-bgcolor: #fff;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	:root {
		--scrollbar-color: #777;
		--scrollbar-bgcolor: #1c1c1c;
		--bg-color: #4682b4;
		--text-color: #1e1e1e;
		--accent-color: #4682b4;
		--form-bgcolor: #fff;
	}
}

/* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}

/* SCSS BREAKPOINT */
$breakpoint-1450: 1449.98 + px;
$breakpoint-1200: 1199.98 + px;
$breakpoint-992: 991.98 + px;
$breakpoint-768: 767.98 + px;
$breakpoint-576: 575.98 + px;
$breakpoint-480: 479.98 + px;
$breakpoint-320: 319.98 + px;
