// Global SCSS imports
@import './vars.scss';
@import './reset.scss';
@import './fonts.scss';
@import './global.scss';

// Sections SCSS files imports
@import './header.scss';
@import './main.scss';
@import './footer.scss';

//libs
//@import "./libs/vendor.scss";
