<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Accordion</title>
		<link rel="stylesheet" href="style.css" />
		<script defer src="srcipt.js"></script>
	</head>
	<body>
		<!-- Accordion -->
		<h1>Accordion:</h1>
		<br />
		<details>
			<summary>Accordion</summary>
			<p class="content">
				Далеко-далеко за словесными горами в стране, гласных и согласных живут
				рыбные тексты. Бросил заглавных вопрос переулка вскоре. Пор своих
				ведущими власти. До коварный грамматики вопрос строчка необходимыми
				большого силуэт рот взгляд щеке.
			</p>
		</details>
		<br />
		<details>
			<summary>Accordion</summary>
			<p class="content">
				Далеко-далеко за словесными горами в стране, гласных и согласных живут
				рыбные тексты. Бросил заглавных вопрос переулка вскоре. Пор своих
				ведущими власти. До коварный грамматики вопрос строчка необходимыми
				большого силуэт рот взгляд щеке.
			</p>
		</details>
	</body>
</html>
