<footer class="footer">
	<div class="container footer__container">
		<h2 class="footer__title nowrap text-center">
			Copyright &copy; <time id="year" datetime="2023"></time>
		</h2>
	</div>
</footer>
